<!-- FEATURED ADS --> 	
<script type="text/javascript" src="{$live_site}/libs/jQuery/plugins/jquery.carouFredSel.js"></script>

	<div class="featured-box">

	<h1 class="head">{$lng.general.featured_ads}</h1>
	<div class="box-top-white"><div class="box-bottom"><div class="box-left"><div class="box-right"><div class="box-bottom-left"><div class="box-bottom-right"><div class="box-top-left"><div class="box-top-right">


		{capture name=some_content assign=item_width}{math equation="(w-w1)/no" w=$appearance.outer_table w1=90 no=$ads_settings.no_featured_on_row}{/capture}

		{capture name=some_content assign=right_arrow_pos}{math equation="w-w1" w=$appearance.outer_table w1=57 no=$ads_settings.no_featured_on_row}{/capture}

		<a class="prev browse left"></a>
		<a class="next browse right"{* style="left: {$right_arrow_pos}px;"*}></a>

		<div id="featured">
	
		<!-- root element for the items -->
		{section name=loop start=0 loop=$no_featured step=1}

			{capture name=some_content assign=details_url}{if $seo_settings.enable_mod_rewrite}{seo->makeDetailsLink p1=$featured_ads[loop].id p2=$featured_ads[loop].title p3='' p4=$featured_ads[loop].category_id p5=$featured_ads[loop].slug}{else}{$live_site}/details.php?id={$featured_ads[loop].id}{/if}{/capture}


			<div class="item" style="width: {$item_width}px">

				{if $featured_ads[loop].rented && $ads_settings.enable_rented}<div class="rented_featured" id="frented{$featured_ads[loop].id}" ></div>{elseif $featured_ads[loop].sold && $ads_settings.enable_sold}<div class="sold_featured" id="fsold{$featured_ads[loop].id}" ></div>{/if}

				<div class="box-image" id="box-image{$featured_ads[loop].id}">

				<a href="{$details_url}"><img class="pic" id="fpic{$featured_ads[loop].id}" src="{$live_site}/{$featured_ads[loop].image}" alt="{if $featured_ads[loop].image_id}{$featured_ads[loop].title|strip_tags:false|substr:0:100}{/if}" /></a>
				</div>

				<h3>{if $data_set=="cars" && ((isset($featured_ads[loop].make) && $featured_ads[loop].make) || (isset($featured_ads[loop].model) && $featured_ads[loop].model))}<a href="{$details_url}">{$featured_ads[loop].make} {$featured_ads[loop].model}</a>{else}<a href="{$details_url}">{if $appearance.charset=="UTF-8"}{$featured_ads[loop].title|mb_truncate:30:"...":"UTF-8"}{else}{$featured_ads[loop].title|truncate:21:"...":false}{/if}</a>{/if}</h3>

				{$featured_ads[loop].location_str}

				{if $ads_settings.enable_price && $featured_ads[loop].price>=0}<div class="price">{$featured_ads[loop].price_curr}</div>
				{/if}
			</div>
		{/section}

		</div> {* end featured *}

{literal}
<script type="text/javascript">
$(document).ready(function() {

	$("#featured").carouFredSel({
	    items: {
	        visible: {/literal}{$ads_settings.no_featured_on_row}{literal},
	        minimum: 1
	    },
	    scroll: {
	        items: 1,
	        duration: 500,
	        pauseOnHover: true,
		conditions: function() { {/literal}{if $no_featured>$ads_settings.no_featured_on_row}return true; {else}return false;{/if}{literal} }
	    },
	    auto: 1500,
	    prev: {
	        button: ".prev",
	        key: "left"
	    },
	    next: {
	        button: ".next",
	        key: "right"
	    }
	});
	 

	});
</script>
{/literal}

	</div></div></div></div></div></div></div></div>

</div>
<!-- END FEATURED ADS -->
