<!DOCTYPE html>
<html lang="en">

<head>
<title>Site under maintenance</title>
<meta NAME="robots" content="noindex, nofollow" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans"/>
</head>

<body>
<style type="text/css">
body {
	margin: 0; 
	padding: 0;
	color: #ffc600;
	font-family: 'Open Sans', serif;
	font-size: 16px;
	font-weight: normal;
	background-color: #3a3a3a;
	line-height: 22px;
	text-align: center;
}
h1 { color: #fff; font-weight: normal;}
.tools { margin: 0 auto; margin-top: 100px; margin-bottom: -80px; } 

</style>

<div class="tools"><img src="{$template_path}/images/maintenance.png" width="336" height="333" /></div>
<h1>Site under maintenance</h1>
<p>This site is under maintenance. Please visit us later.</p>
</body>
</html>