{include file="header.html"}
{include file="data/ui.html"}
{include file="data/fancybox.html"}

<script type="text/javascript" src="{$live_site}/libs/jQuery/plugins/powertip/jquery.powertip.min.js"></script>
<link rel="stylesheet" type="text/css" href="{$live_site}/libs/jQuery/plugins/powertip/css/jquery.powertip.min.css" />

<div class="heading"><h1>{$lng.useraccount.browse_your_listings}</h1></div>

<div id="browse">
<form name="browse" id="browse" method="post" action="my_listings.php">
{include file="paginator.html"}

<div>
	<span><a href="new_listing.php"><img src="{$template_path}images/add.gif" alt="" class="tooltip" title="{$lng.general.add}"/></a></span>
	{if $settings.users_delete_ads}
	<span><input type="image" value="delete_selected" name="delete_selected" id="delete_selected" src="{$template_path}images/delete_all.gif" onclick="return myConfirm('{$lng.listings.confirm_delete_all|addslashes}')" style="border: 0px;" class="tooltip" title="{$lng.general.delete_all}"/></span>
	{/if}
	{if $ads_settings.enable_sold}
	<input type="image" value="sold_selected" name="sold_selected" id="sold_selected" src="{$template_path}images/mm-sold.png" style="border: 0px;" class="tooltip" title="{$lng.listings.mark_sold}"/>
	{/if}

	{if $ads_settings.enable_rented}
	<input type="image" value="rented_selected" name="rented_selected" id="rented_selected" src="{$template_path}images/mm-rented.png" style="border: 0px;" class="tooltip" title="{$lng.listings.mark_rented}"/>
	{/if}

</div>

<div style="float: left;">
	<select name="show" onchange="doSel(this);">
	<option value="location.href='{$pages_link|replace:'##page##':1}&show=all'" {if $show=="all"} selected="selected" {/if}>{$lng.listings.all}</option>
	<option value="location.href='{$pages_link|replace:'##page##':1}&show=active'" {if $show=="active"} selected="selected" {/if}>{$lng.listings.active_listings}</option>
	<option value="location.href='{$pages_link|replace:'##page##':1}&show=inactive'" {if $show=="inactive"} selected="selected" {/if}>{$lng.listings.inactive_listings}</option>
	<option value="location.href='{$pages_link|replace:'##page##':1}&show=pending'" {if $show=="pending"} selected="selected" {/if}>{$lng.listings.pending_listings}</option>
	{if $ads_settings.enable_featured}<option value="location.href='{$pages_link|replace:'##page##':1}&show=featured'" {if $show=="featured"} selected="selected" {/if}>{$lng.listings.featured_listings}</option>{/if}
	{if $ads_settings.enable_highlited}<option value="location.href='{$pages_link|replace:'##page##':1}&show=highlited'" {if $show=="highlited"} selected="selected" {/if}>{$lng.listings.highlited_listings}</option>{/if}
	<option value="location.href='{$pages_link|replace:'##page##':1}&show=expired'" {if $show=="expired"} selected="selected" {/if}>{$lng.listings.expired_listings}</option>
	{if $ads_settings.enable_priorities}<option value="location.href='{$pages_link|replace:'##page##':1}&show=priorities'" {if $show=="priorities"} selected="selected" {/if}>{$lng.listings.priorities_listings}</option>{/if}
	{if $ads_settings.enable_urgent}<option value="location.href='{$pages_link|replace:'##page##':1}&show=urgent'" {if $show=="urgent"} selected="selected" {/if}>{$lng.listings.urgent_listings}</option>{/if}
	{if $ads_settings.enable_video}<option value="location.href='{$pages_link|replace:'##page##':1}&show=video'" {if $show=="video"} selected="selected" {/if}>{$lng.listings.video_listings}</option>{/if}
	{if $ads_settings.enable_url}<option value="location.href='{$pages_link|replace:'##page##':1}&show=url'" {if $show=="url"} selected="selected" {/if}>{$lng.listings.url_listings}</option>{/if}

	</select>

	<select name="order" onchange="doSel(this);">
	<option value="location.href='{$order_by_link|replace:'##order##':'date_added'}'" {if $order=='date_added'}selected="selected"{/if}>
	{$lng.listings.order_by_date}</option>
	{if $ads_settings.enable_price}<option value="location.href='{$order_by_link|replace:'##order##':'price'}'" {if $order=='price'}selected="selected"{/if}>
	{$lng.listings.order_by_price}</option>{/if}
	<option value="location.href='{$order_by_link|replace:'##order##':'viewed'}'" {if $order=='viewed'}selected="selected"{/if}>
	{$lng.listings.order_by_views}</option>
	</select>

	<select name="order_way" onchange="doSel(this);">

	<option value="location.href='{$order_way_link|replace:'##order_way##':'desc'}'" {if $order_way=='desc'}selected="selected"{/if}>{$lng.general.desc}</option>
	<option value="location.href='{$order_way_link|replace:'##order_way##':'asc'}'" {if $order_way=='asc'}selected="selected"{/if}>{$lng.general.asc}</option>

	</select>
</div>

<div style="float: right; ">
	<a href="javascript:;" class="small" onclick="checkAll(document)">{$lng.general.check_all}</a> | <a href="javascript:;" class="small" onclick="uncheckAll(document)">{$lng.general.uncheck_all}</a>
	&nbsp;
	<img src="{$template_path}/images/add_search.png" id="add_search" /><img src="{$template_path}/images/remove_search.png" id="remove_search" />
</div>
<div class="clearfix"></div><!--[if lte IE 7]><br/><![endif]-->
<div id="search_box" style="display: none;">

<input type="hidden" name="page" value = "{$page}" />
<input type="hidden" name="show" value = "{$show}" />
<input type="hidden" name="order" value = "{$order}" />
<input type="hidden" name="order_way" value = "{$order_way}" />
<input type="hidden" name="no_per_page" value = "{$no_per_page}" />

<input type="text" name="id" size="6" class="defaultText" title="{$lng.listings.id}" value="{if isset($post_array.id)}{$post_array.id}{/if}"/>

<input type="text" name="keyword" size="20" class="defaultText" title="{$lng.advanced_search.word}" value="{if isset($post_array.keyword)}{$post_array.keyword}{/if}" />

<select name="category_id">
	<option value="">{$lng.listings.category}</option>
{foreach from=$categories item=v}
	<option value="{$v.id}" {if isset($post_array.category_id) && $post_array.category_id==$v.id}selected="selected"{/if}{if $v.parent} class="opt_parent"{/if}>{$v.str}{$v.name}</option>
{/foreach}
</select>

<select name="package_id">
	<option value="">{$lng.listings.package}</option>
{foreach from=$plans item=v}
	<option value="{$v.id}" {if isset($post_array.package_id) && $post_array.package_id==$v.id}selected="selected"{/if}>{$v.name}</option>
{/foreach}
</select>
<br/>
<input name="date_from_vis" id="date_from_vis" type="text" size="15" class="defaultText" title="{$lng.useraccount.date_start}"/>
<input name="date_from" id="date_from" type="hidden"/>

<input name="date_to_vis" id="date_to_vis" type="text" size="15" class="defaultText" title="{$lng.useraccount.date_end}" />
<input name="date_to" id="date_to" type="hidden" />

<div class="buttons">
	<strong><input type="submit" name="Search" value="{$lng.general.search}" /></strong>
</div>


</div>

{literal}
<script type="text/javascript">
	$(document).ready(function() {
		$("input").keypress(function(e)
		{
        		// if the key pressed is the enter key
        		if (e.which == 13)
        		{

				// delay action so the autocomplete list to fill
				setTimeout(function() { $("#search").submit();}, 200);

				return false;
        		}
		});
		$("#remove_search").hide();
		$("#search_box").hide();
		$("#add_search").click(function()
		{
			$("#remove_search").show();
			$("#add_search").hide();
			$("#search_box").slideDown('fast').show();
			
		});

		$("#remove_search").click(function()
		{
			$("#add_search").show();
			$("#remove_search").hide();
			$("#search_box").hide().slideUp('fast');
		});

		$('.tooltip').powerTip({
			placement: 'n'
		});

	});
</script>
{/literal}

<script type="text/javascript">
{literal}
	setTimeout(function() {
		$('#date_from_vis').datepicker({
			dateFormat: "M dd yy",
			changeMonth: true,
			changeYear: true,
			altField: '#date_from', altFormat: 'yy-mm-dd'
		});

		$('#date_to_vis').datepicker({
			dateFormat: "M dd yy",
			changeMonth: true,
			changeYear: true,
			altField: '#date_to', altFormat: 'yy-mm-dd'
		});
	}, 1000);
{/literal}
</script>

<table cellpadding="0" cellspacing="0" align="center" width="100%" id="nicetable">
<tr id="tab_header">
	<td width="10"></td>
	<td width="20">{$lng.listings.id}</td>
	<td></td>
	<td>{$lng.listings.ad_information}</td>
	<td width="100">{$lng.listings.date}</td>
	<td width="40">{$lng.listings.views}</td>
	<td width="85"></td>
	<td width="80">{$lng.general.action}</td>
</tr>

{foreach from=$listings_array item=v}
<tr class="{cycle values="nicetablerow_even,nicetablerow_odd"}">
	<td {if $ads_settings.enable_auctions}rowspan="2"{/if}><input type="checkbox" class="noborder" name="ad{$v.id}" id="ad{$v.id}" /></td>
	<td {if $ads_settings.enable_auctions}rowspan="2"{/if}>#{$v.id}</td>
	<td width="50" align="center" {if $ads_settings.enable_auctions}rowspan="2"{/if}>
	<a href="{if $seo_settings.enable_mod_rewrite}{seo->makeDetailsLink p1=$v.id p2=$v.title p3='' p4=$v.category_id p5=$v.slug}{else}{$live_site}/details.php?id={$v.id}{/if}"><img src="{$live_site}/{$v.image}" alt="" /></td>
	<td>
		<h3><a href="{if $seo_settings.enable_mod_rewrite}{seo->makeDetailsLink p1=$v.id p2=$v.title}{else}{$live_site}/details.php?id={$v.id}{/if}">{$v.title|wordwrap:50:" ":true}</a></h3>
		{if $data_set=="cars"}<h4>{$v.make} {$v.model}</h4>{/if}
		<p>{$lng.listings.category}: {$v.category}</p>
		<p>{$lng.listings.package}: {$v.package}</p>
		{if $ads_settings.enable_price && $v.price>=0}<div class="price">{$lng.listings.price}: {$v.price_curr}</div>{/if}
	</td>
	<td>{$lng.listings.added_on}:<br /> <b>{$v.date_nice}</b>
	{if $v.expired}<br /><font color="#ff0000"><br />{$lng.listings.expired_on}:<br />{$v.date_expires_nice}</font>
	{elseif $v.date_expires && $v.date_expires!="0000-00-00 00:00:00"}<br />{$lng.listings.expires_on}:<br /><b>{$v.date_expires_nice}</b>
	{else}{$lng.listings.expires_on}: <b>{$lng.general.never}</b>
	{/if}
	</td>
	<td align="center">{$v.viewed}</td>
	<td>
		{if $v.active}
		<div class="buttonwrapper"><div class="activebutton"><span class="button">{$lng.listings.active}</span></div></div>
		{elseif $v.user_approved==0 && !$v.expired && $v.invoice}
		<a href="complete_payment.php?id={$v.invoice}">
		<div class="buttonwrapper"><div class="inactivebutton"><span class="button tooltip" title="{$lng.listings.approve}">{$lng.listings.finalize}</span></div></div></a>
		{else}
		<div class="buttonwrapper"><div class="inactivebutton"><span class="button">{$lng.listings.inactive}</span></div></div>
		{/if}
		{if $v.pending || $v.pending_actions|@count}
		<div class="buttonwrapper"><div class="pendingbutton"><span class="button tooltip" title="{$v.pending_info}">{$lng.listings.pending}</span></div></div>
		{/if}
		{if $v.expired}
		<div class="buttonwrapper"><div class="expiredbutton"><span class="button">{$lng.listings.expired}</span></div></div>
		{/if}
		{if $ads_settings.enable_sold && $v.sold}
		<div class="buttonwrapper"><div class="soldbutton"><span class="button">{$lng.listings.sold}</span></div></div>
		{/if}
		{if $ads_settings.enable_rented && $v.rented}
		<div class="buttonwrapper"><div class="rentedbutton"><span class="button">{$lng.listings.rented}</span></div></div>
		{/if}
		{if $v.featured && $ads_settings.enable_featured}
		<div class="buttonwrapper"><div class="featuredbutton"><span class="button">{$lng.listings.featured}{if isset($v.featured_no_days) && $v.featured_no_days}&nbsp;{$v.featured_no_days}&nbsp;{$lng.days}{/if}</span></div></div>
		{/if}
		{if isset($v.enable_video) && $v.enable_video && $ads_settings.enable_video}
		<div class="buttonwrapper"><div class="featuredbutton"><span class="button">{$lng.listings.short_video}</span></div></div>
		{/if}

		{if $v.highlited && $ads_settings.enable_highlited}
		<div class="buttonwrapper"><div class="featuredbutton"><span class="button">{$lng.listings.highlited}</span></div></div>
		{/if}

		{if isset($v.priority_name) && $v.priority_name && $ads_settings.enable_priorities}
		<div class="buttonwrapper"><div class="featuredbutton"><span class="button">{$v.priority_name}</span></div></div>
		{/if}

		{if isset($v.urgent) && $v.urgent && $ads_settings.enable_urgent}
		<div class="buttonwrapper"><div class="featuredbutton"><span class="button">{$lng.listings.urgent}</span></div></div>
		{/if}

		{if isset($v.enable_url) && $v.enable_url && $ads_settings.enable_url}
		<div class="buttonwrapper"><div class="featuredbutton"><span class="button">{$lng.listings.url}</span></div></div>
		{/if}
	</td>
	
	<td>
		<span><a href="edit_listing.php?id={$v.id}">
		<img src="{$template_path}images/edit.gif" class="tooltip" title="{$lng.general.edit}" alt="" />
		</a></span>

		<span><a href="edit_photos.php?id={$v.id}">
		<img src="{$template_path}images/edit_photos.jpg" class="tooltip" title="{$lng.listings.edit_photos}" alt="" />
		</a></span>

		{if $settings.users_feature_ads && ($ads_settings.enable_featured || $ads_settings.enable_highlited || $ads_settings.enable_priorities || $ads_settings.enable_video)}
		<span><a href="edit_options.php?id={$v.id}">
		<img src="{$template_path}images/feature.gif" class="tooltip" title="{$lng.listings.edit_ad_options}" alt="" />
		</a></span>
		{/if}

		{if $settings.users_delete_ads}
		<span><a href="javascript:;" onclick="onDelete('{$v.id}','{$lng.listings.confirm_delete|addslashes}', 'listing');">
		<img src="{$template_path}images/delete.gif" class="tooltip" title="{$lng.general.delete}" alt="Delete" />
		</a></span>
		{/if}

		{if $ads_settings.enable_sold}
			<span id="div_sold{$v.id}">
			{if $v.sold==0}
			<a href="javascript:;" onclick="onSold('{$v.id}', 'listing');"><img id="sold{$v.id}" src="{$template_path}images/mark_sold.gif" alt="Mark Sold"  class="tooltip" title="{$lng.listings.mark_sold}" /></a>
			{else}
			<a href="javascript:;" onclick="onUnsold('{$v.id}', 'listing');"><img id="unsold{$v.id}" src="{$template_path}images/unsold.gif" class="tooltip" title="{$lng.listings.mark_unsold}" alt="" /></a>
			{/if}
			</span>
		{/if}

		{if $ads_settings.enable_rented}
			<span id="div_rented{$v.id}">
			{if $v.rented==0}
			<a href="javascript:;" onclick="onRented('{$v.id}', 'listing');"><img id="rented{$v.id}" src="{$template_path}images/mark_rented.gif" alt="Mark Rented" class="tooltip" title="{$lng.listings.mark_rented}" /></a>
			{else}
			<a href="javascript:;" onclick="onUnrented('{$v.id}', 'listing');"><img id="unrented{$v.id}" src="{$template_path}images/unrented.gif" class="tooltip" title="{$lng.listings.mark_unrented}" alt=""/></a>
			{/if}
			</span>
		{/if}

		{if $v.expired}
			<span><a href="renew_listing.php?id={$v.id}"><img src="{$template_path}images/renew.gif" class="tooltip" title="{$lng.listings.renew}" alt=""/></a></span>
		{/if}
</tr>

{if $ads_settings.enable_auctions || ($v.active && in_array("bump",$modules_array) && $v.priority!=100 )}

<tr><td colspan="8" class="laligned">

{if $ads_settings.enable_auctions}
{if $v.auction}

	<div>
	{if $v.auction.active}
		<div class="lfloat mr10"><a href="javascript:;" onClick="onDisable('{$v.auction.id}', '', 'auction');"><div class="buttonwrapper"><div class="gray-button-left"><span class="gray-button-right">{$lng.useraccount.disable}</span></div></div></a></div>
	{else}
		<div class="lfloat mr10"><a href="javascript:;" onClick="onEnable('{$v.auction.id}', '', 'auction');"><div class="buttonwrapper"><div class="gray-button-left"><span class="gray-button-right">{$lng.useraccount.enable}</span></div></div></a></div>
	{/if}

	<div class="lfloat mr10"><a href="javascript:;" onClick="onDelete('{$v.auction.id}','{$lng.useraccount.confirm_delete|addslashes}', 'auction');"><div class="buttonwrapper"><div class="gray-button-left"><span class="gray-button-right">{$lng.useraccount.remove_auction|replace:" ":"&nbsp;"}</span></div></div></a></div>

	</div>

	<div class="clearfix"></div>

	<div class="lfloat">
	<b>{$lng.useraccount.auction}</b> | 
	</div> 

	<div class="lfloat">

	{if $v.auction.active}
	<div class="buttonwrapper"><div class="activebutton"><span class="button">{$lng.listings.active}</span></div></div>
	{else}
	<div class="buttonwrapper"><div class="inactivebutton"><span class="button">{$lng.listings.inactive}</span></div></div>
	{/if}

	</div>

	<div class="lfloat">

	{$lng.alerts.started_on}: {$v.auction.date_nice} | {$lng.useraccount.auction_start_price}: <b>{$v.auction.starting_price}</b> | {$lng.useraccount.no_bids}: {$v.auction.no_bids} {if $v.auction.no_bids>0}| {$lng.useraccount.max_bid}: <b>{$v.auction.max_bid}</b>{/if}

	</div>

	<div class="clearfix"></div>

{else}

<a href="javascript:;" class="addac" id="addac{$v.id}"><div class="buttonwrapper"><div class="gray-button-left"><span class="gray-button-right">{$lng.useraccount.add_auction|replace:" ":"&nbsp;"}</span></div></div></a>

{/if}
{/if}

{* bump ad button *}
{if $v.active && in_array("bump",$modules_array) && $v.priority!=100}
	{include file="modules/bump/my_listing.html"}
{/if}

{if in_array("showcase",$modules_array)}
    {include file="modules/showcase/my_listings.html"}
{/if}

</td></tr>

{/if}

{/foreach}

{if $no_listings==0}
	<tr class="nicetablerow_even">
	<td colspan="8" align="center">{$lng.listings.no_listings}</td></tr>
{/if}
</table>
</form>

{if $no_listings}{include file="paginator.html"}<br/>{/if}

<div class="no_per_page">
	{$lng.general.show}
	<select name="no_per_page_sel" onchange="doSel(this);">
		{section name=pg loop=60 start=10 step=10}
		<option value="location.href='{$crt_page_link}&no_per_page={$smarty.section.pg.index}'" {if $no_per_page==$smarty.section.pg.index} selected="selected" {/if}>{$smarty.section.pg.index}</option>
		{/section}
	</select>
	{$lng.general.on_a_page}
</div>

</div>

{literal}

<script type="text/javascript">

$(document).ready(function() {

$("a.addac").click(function(event){

	var listing_id = jQuery(this).attr("id").substr(5);

	$.fancybox({
		'width'         		: 600,
		'height'        		: 300,
		'margin'		: '0',
		'padding'		: '0',
		'titleShow'		: false,
		'type'			: 'iframe',
		'href'			: '{/literal}{$live_site}/include/add_auction.php?aid={literal}'+listing_id,
		'onClosed': function(){ location.reload(true); }

	});

});

});

</script>
{/literal}

{include file="footer.html"}