{include file="header.html"}

<div id="form_container">
<h1>{$lng.navbar.password_recovery}</h1>

<div class="form_content">

{if isset($error) && $error}<div class="error"><p>{$error}</p></div>{/if}

{if isset($key) && $key && (!isset($info) || !$info)}
<form name="change_pass" method="post" action="password_recovery.php?key={$key}">

	<label>{$lng.password_recovery.new_password}<span class="mandatory"> *</span></label>
	<input type="password" name="password" />

	<label>{$lng.password_recovery.repeat_new_password}<span class="mandatory"> *</span></label>
	<input type="password" name="password1" />

	<br/>
	<br/>
	{if $settings.register_captcha}
	{if $settings.enable_recaptcha}
	{include file="data/recaptcha.html"}
	{else}
	{include file="data/random_image.html"}
	{/if}
	{/if}
	<br/>

	<div class="buttons">
	<span class="positive"><input type="submit" name="Submit_password" value="{$lng.useraccount.change_password}" /></span>
	</div>
	<div class="clearfix"></div>

</form>
{/if}

{if (!isset($info) || !$info) && ( !isset($key) || !$key) }

{if isset($general_info) && $general_info}<p>{$general_info}</p>{/if}

<form name="pass" method="post" action="password_recovery.php">

	<label>{$lng.password_recovery.email}<span class="mandatory"> *</span></label>
	<input name="email" type="text" size="40" maxlength="255" value="" />
	<br/><br/>

	<div class="buttons">
	<span class="positive"><input type="submit" name="Submit" value="{$lng.general.submit}" /></span>
	</div>
	<div class="clearfix"></div>
</form>
{/if}

{if $info}
<div id="status">{$info}</div>
{/if}

</div>
</div>
{include file="footer.html"}