<html>
<head>
<title>Momentum template banners chart</title>
</head>
<body>
<style type="text/css">
body { font-size: 12px; color: #333; text-align: center; }
h1 { font-size: 170%; }
h2 { font-size: 150%; color: #555; }
</style>
<h1>Momentum template banners chart</h1>
<h2>Banners chart for general pages.</h2>
<img src="bc-model1-general.jpg" alt=""/>

<h2>Banners chart for first page.</h2>
<img src="bc-model1-firstpage.jpg" alt=""/>

<h2>Banners chart for search pages.</h2>
<img src="bc-model1-listings.jpg" alt=""/>

<h2>Banners chart for listing details page.</h2>
<img src="bc-model1-details.jpg" alt=""/>

</body>
</html>