

{literal}
<script type="text/javascript">
//<![CDATA[

$(document).ready(function() {


$('.tooltip').powerTip({
	placement: 'n'
});

var options = { 
       // target:        '#output1',   // target element(s) to be updated with server response 
	beforeSerialize: beforeSerialize,
        beforeSubmit:  beforeSubmit,  // pre-submit callback 
        success:       successResponse  // post-submit callback 
 
    }; 

function beforeSerialize(jqForm, options) {

	$("body").addClass("loading"); 

	if (typeof data_htmlarea !== 'undefined')
	for(var i=0;i<data_htmlarea.nicInstances.length;i++){ data_htmlarea.nicInstances[i].saveContent(); }

	// international phones errors
	var extra_phone_error = recheckIntlPhone();
	if(extra_phone_error.length>0) {

		// clean all fields possible err class
		$(".err").removeClass("err");
		// remove all err_labels
		$(".err_label").remove();
			
		for (var i = 0, len = extra_phone_error.length; i < len; i++) {

			$("#"+extra_phone_error[i]).addClass("err");
			// add as child before form element
			$("#"+extra_phone_error[i]).first().before('<label class="err_label">{/literal}{$lng.listings.errors.invalid_phone}{literal}</label>');
			
		}

		$("body").removeClass("loading"); 

		// move the page to the first err_label element
		$('html,body').animate({scrollTop:$(".err:first").offset().top-60}, 'slow');

		return false;
			
	} // end international phone error

}

// pre-submit callback 
function beforeSubmit(formData, jqForm, options) { 

    // formData is an array; here we use $.param to convert it to a string to display it 
    // but the form plugin does this for you automatically when it submits the data 
    var queryString = $.param(formData); 
    return true; 

} 

// post-submit callback 
function successResponse(responseText, statusText, xhr, $form)  { 

	var ret = JSON.parse(responseText);
	
	if(ret.response==1) {

		// clean all fields possible err class
		$(".err").removeClass("err");
		// remove all err_labels
		$(".err_label").remove();

		// show info message and hide form
		$(".info").slideUp();
		$("#account_info").find("span.content").html("<p>"+ret.info+"</p>");
		$("#account_info").slideDown();

		// move the page to the info label
		$('html,body').animate({scrollTop:$("#account_info").offset().top}, 'slow');

		$("body").removeClass("loading"); 

		return;

	}

	// response = 0 -> there are errors in submit ad process 
	var no_err = ret.error.length;
	var err_field, err_string;

	// clean all fields possible err class
	$(".err").removeClass("err");

	// remove all err_labels
	$(".err_label").remove();

	// mark each field with error 
	for (var idx=0;idx<no_err;idx++) { 

		err_field = ret.error[idx].field;
		err_string = ret.error[idx].error;

		$("#"+err_field).addClass("err");
		// add as child before form element
		$("#"+err_field).first().before('<label class="err_label">'+err_string+'</label>');


	}
			
	// move the page to the first err_label element
	$('html,body').animate({scrollTop:$(".err:first").offset().top-60}, 'slow');

	$("body").removeClass("loading"); 

} 

var options_pass = { 
       // target:        '#output1',   // target element(s) to be updated with server response 
	beforeSerialize: function(jqForm, options) { $("body").addClass("loading"); },
        beforeSubmit:  function(formData, jqForm, options) { var queryString = $.param(formData); return true;  },
        success:       successResponse_pass  // post-submit callback 
 
    }; 


// post-submit callback 
function successResponse_pass(responseText, statusText, xhr, $form)  { 

	var ret = JSON.parse(responseText);

	$("body").removeClass("loading"); 

	if(ret.response==1) {

		// show info message and hide form
		$(".info").slideUp();
		$("#pass_info").find("span.content").html("<p>"+ret.info+"</p>");
		$("#pass_info").slideDown();

		// move the page to the info label
		$('html,body').animate({scrollTop:$("#pass_info").offset().top}, 'slow');

		return;

	}

	// response = 0 -> there are errors in submit ad process 
	var no_err = ret.error.length;
	var err_field, err_string;

	// clean all fields possible err class
	$(".err").removeClass("err");

	// remove all err_labels
	$(".err_label").remove();

	// mark each field with error 
	for (var idx=0;idx<no_err;idx++) { 

		err_field = ret.error[idx].field;
		err_string = ret.error[idx].error;

		$("#"+err_field).addClass("err");
		// add as child before form element
		$("#"+err_field).first().before('<label class="err_label">'+err_string+'</label>');


	}
			
	// move the page to the first err_label element
	$('html,body').animate({scrollTop:$(".err:first").offset().top-60}, 'slow');

} 

var options_remove = { 
       // target:        '#output1',   // target element(s) to be updated with server response 
	beforeSerialize: function(jqForm, options) { $("body").addClass("loading"); },
        beforeSubmit:  function(formData, jqForm, options) { var queryString = $.param(formData); return true;  },
        success:       successResponse_remove  // post-submit callback 
 
    }; 


// post-submit callback 
function successResponse_remove(responseText, statusText, xhr, $form)  { 

	var ret = JSON.parse(responseText);

	$("body").removeClass("loading"); 

	if(ret.response==1) {

		// show info message and hide form
		$(".info").slideUp();
		$("#removal_info").find("span.content").html("<p>"+ret.info+"</p>");
		$("#removal_info").slideDown();
		return;

	}


} 
//initialize the AJAX form
$('#account_form').ajaxForm(options);
$('#pass_form').ajaxForm(options_pass);
$('#acc_removal_form').ajaxForm(options_remove);

$('a.imgfield').magnificPopup({type:'image', image: { cursor: null } });

	{/literal}
	var gmaps_on = {if $gmaps}1{else}0{/if};
	// initialize google maps
	if (gmaps_on) load_gmaps();
	{literal}


});
//]]>
</script>
{/literal}

