{if $listing.images|@count}
<script src="{$live_site}/templates/{$appearance.template}/js/gallery.min.js"></script>
{/if}
<link rel="stylesheet" href="{$live_site}/libs/photoswipe/photoswipe.min.css"> 

{if $ads_settings.enable_auctions && $listing.auction.active}

{literal}
<script>
//<![CDATA[

$('.bmailto').magnificPopup({
  type: 'ajax',
  showCloseBtn: true,
  closeBtnInside:true
});

jQuery(document).ready(function() {

	$(".bid_info").hide();

var bid_options = { 

		beforeSerialize: function(jqForm, options){ $("body").addClass("loading") },
        beforeSubmit:  function(formData, jqForm, options) {var queryString = $.param(formData);  return true;  }, 
        success:       bidSuccessResponse 
 
   }; 

function bidSuccessResponse(responseText, statusText, xhr, $form)  { 

//alert(responseText);
			var ret = JSON.parse(responseText);

			$("body").removeClass("loading");

			if(ret.response==1) {

				$(".bid_info").find("span.content").html("<p>"+ret.info+"</p>");
				$(".bid_info").show();
				$(".form2").slideUp();

				if(ret.new_max_bid != '0')
					$("#max_bid").html(ret.new_max_bid);

				return;

			}

			// response = 0 -> there are errors
			var no_err = ret.error.length;
			var err_field, err_string;

			// clean all fields possible err class
			$(".err").removeClass("err");
			// remove all err_labels
			$(".err_label").remove();

			// mark each field with error 
			for (var idx=0;idx<no_err;idx++) { 

				err_field = ret.error[idx].field;
				err_string = ret.error[idx].error;
				$("#"+err_field).addClass("err");
				$("#"+err_field).before('<label class="err_label">'+err_string+'</label>');

			}
			
			// move the page to the first err_label element
//			$('html,body').animate({scrollTop:$(".err_label:first").offset().top}, 'slow');

} 

 $('#bid_form').ajaxForm(bid_options);
 
});
{/literal}
//]]>
</script>

{/if}

{literal}
<script>

	{/literal}

	{foreach from=$gmaps item=v}
	
		{if isset($listing[$v.caption]) && $listing[$v.caption]}
		
			{include file="data/gmap-ro.html"}
			
		{elseif $v.caption}
			{include file="data/gmap-ro.html"}
			{include file="data/gmap-ro-locator.html"}
			
		{/if}
		
	{/foreach}

	// maps for nologin users
	/*
	{foreach from=$user_gmaps item=v}
		{if isset($listing.user[$v.caption]) && $listing.user[$v.caption]}
			{include file="data/gmap-ro.html" tmp=$listing.user}
		{/if}
	{/foreach}
*/
	{literal}

function init_gmap() {

{/literal}

	{foreach from=$gmaps item=v}
		{if isset($listing[$v.caption]) && $listing[$v.caption]}
			init_gmap_{$v.caption}();
		{elseif $v.caption}	
			init_gmap_{$v.caption}();
			autoLocator_{$v.caption}();
		{/if}
	{/foreach}
/*
	{foreach from=$user_gmaps item=v}
		{if isset($listing.user[$v.caption]) && $listing.user[$v.caption]}
			init_gmap_{$v.caption}();
		{/if}
	{/foreach}
*/	
{literal}

	}

$(document).ready(function() {
	{/literal}

	var gmaps_on = {if $map_field}1{else}0{/if};
	{literal}

	// initialize google maps
	load_gmaps();

	$('a.imgfield').magnificPopup({type:'image', image: { cursor: null } });

	
/*     -------------- contact form ----------------      */
 
$("#mailto_info").hide();

var contactOptions = { 

		beforeSerialize: function(jqForm, options){ $("body").addClass("loading") },
		beforeSubmit:  function(formData, jqForm, options) {var queryString = $.param(formData);  return true;  }, 
		success:       contactSuccessResponse 
 
   }; 

function contactSuccessResponse(responseText, statusText, xhr, $form)  { 

//alert(responseText);
			var ret = JSON.parse(responseText);

			$("body").removeClass("loading");

			if(ret.response==1) {

				$("#mailto_info").find("span.content").html("<p>"+ret.info+"</p>");
				$("#mailto_info").show();
				$("#contact").slideUp();
				$('html,body').animate({scrollTop:$("#mailto_info").offset().top}, 'slow');
				return;

			}

			// response = 0 -> there are errors
			var no_err = ret.error.length;
			var err_field, err_string;

			// clean all fields possible err class
			$(".err").removeClass("err");
			// remove all err_labels
			$(".err_label").remove();

			// mark each field with error 
			for (var idx=0;idx<no_err;idx++) { 

				err_field = ret.error[idx].field;
				err_string = ret.error[idx].error;
				
				if(err_field=="alert_window") { alert(err_string); $('input[type="submit"]').prop('disabled', true); break; }
				
				$("#"+err_field).addClass("err");
				$("#"+err_field).before('<label class="err_label">'+err_string+'</label>');

			}
			
			// move the page to the first err_label element
			//$('html,body').animate({scrollTop:$(".err_label:first").offset().top}, 'slow');

			{/literal}{if $settings.contact_captcha && $settings.enable_recaptcha}
			// reload recaptcha
			gReCaptchaReset();
			{/if}{literal}


}

 $('#contact_details').ajaxForm(contactOptions);
 
  $("#contact_user").click(function(){ 
 
	$(".cf_form").not("#contact").slideUp();

	if($("#contact").is(":visible")) {
		$("#contact").slideUp();
	}	
	else { 
		$("#contact").slideDown();
		
		{/literal}
		{if $settings.contact_captcha && $settings.enable_recaptcha}
			onloadRCCallback();
		{/if}
		{literal}
		
	}
 });
 
	
/*     -------------- share form ----------------      */
 
$("#share_info").hide();

var shareOptions = { 

		beforeSerialize: function(jqForm, options){ $("body").addClass("loading") },
		beforeSubmit:  function(formData, jqForm, options) {var queryString = $.param(formData);  return true;  }, 
		success:       shareSuccessResponse 
 
   }; 

function shareSuccessResponse(responseText, statusText, xhr, $form)  { 

//alert(responseText);
			var ret = JSON.parse(responseText);

			$("body").removeClass("loading");

			if(ret.response==1) {

				$("#share_info").find("span.content").html("<p>"+ret.info+"</p>");
				$("#share_info").show();
				$("#share").slideUp();
				$('html,body').animate({scrollTop:$("#mailto_info").offset().top}, 'slow');
				return;

			}

			// response = 0 -> there are errors
			var no_err = ret.error.length;
			var err_field, err_string;

			// clean all fields possible err class
			$(".err").removeClass("err");
			// remove all err_labels
			$(".err_label").remove();

			// mark each field with error 
			for (var idx=0;idx<no_err;idx++) { 

				err_field = ret.error[idx].field;
				if(err_field=="recaptcha_div") err_field="recaptcha_div_share";
				err_string = ret.error[idx].error;
				$("#"+err_field).addClass("err");
				$("#"+err_field).before('<label class="err_label">'+err_string+'</label>');

			}
			
			// move the page to the first err_label element
			$('html,body').animate({scrollTop:$(".err_label:first").offset().top}, 'slow');

			{/literal}{if $settings.contact_captcha && $settings.enable_recaptcha}
			// reload recaptcha
			gReCaptchaReset("_share");
			{/if}{literal}


}

 $('#share_form').ajaxForm(shareOptions);
 
 $(".fshare").click(function(){ 
 
	$(".cf_form").not("#share").slideUp();

	if($("#share").is(":visible")) {
		$("#share").slideUp();
	}	
	else { 
		$("#share").slideDown();
		
		{/literal}
		{if $settings.contact_captcha && $settings.enable_recaptcha}
			onloadRCCallback("_share");
		{/if}
		{literal}
		
		}	
});
	

/*     -------------- report form ----------------      */
 
$("#report_info").hide();

var reportOptions = { 

		beforeSerialize: function(jqForm, options){ $("body").addClass("loading") },
		beforeSubmit:  function(formData, jqForm, options) {var queryString = $.param(formData);  return true;  }, 
		success:       reportSuccessResponse 
 
   }; 

function reportSuccessResponse(responseText, statusText, xhr, $form)  { 

//alert(responseText);
			var ret = JSON.parse(responseText);

			$("body").removeClass("loading");

			if(ret.response==1) {

				$("#report_info").find("span.content").html("<p>"+ret.info+"</p>");
				$("#report_info").show();
				$("#report").slideUp();
				$('html,body').animate({scrollTop:$("#mailto_info").offset().top}, 'slow');
				return;

			}

			// response = 0 -> there are errors
			var no_err = ret.error.length;
			var err_field, err_string;

			// clean all fields possible err class
			$(".err").removeClass("err");
			// remove all err_labels
			$(".err_label").remove();

			// mark each field with error 
			for (var idx=0;idx<no_err;idx++) { 

				err_field = ret.error[idx].field;
				if(err_field=="recaptcha_div") err_field="recaptcha_div_report";
				if(err_field=="your_name") err_field="report_name";
				if(err_field=="your_email") err_field="report_email";
				err_string = ret.error[idx].error;
				$("#"+err_field).addClass("err");
				$("#"+err_field).before('<label class="err_label">'+err_string+'</label>');

			}
			
			// move the page to the first err_label element
			$('html,body').animate({scrollTop:$(".err_label:first").offset().top}, 'slow');

			{/literal}{if $settings.contact_captcha && $settings.enable_recaptcha}
			// reload recaptcha
			gReCaptchaReset("_report");
			{/if}{literal}


}

$('#report_form').ajaxForm(reportOptions);
 
$(".freport").click(function(){ 

	$(".cf_form").not("#report").slideUp();

	if($("#report").is(":visible")) {
		$("#report").slideUp();
	}	
	else { 
		$("#report").slideDown();
		
		{/literal}
		{if $settings.contact_captcha && $settings.enable_recaptcha}
			onloadRCCallback("_report");
		{/if}
		{literal}

	}
});

$('a.addtofav').click(function() {
	var live_site = '{/literal}{$live_site}{literal}';
	var listing_id = $(this).attr("id").substr(3);
	makeFavorite(listing_id, live_site);
	
	$(this).animate({
        opacity: '0.3'
    });
	
  }
);

$("#place_bid").click(function () { 

	{/literal}
	{if !isset($crt_usr)}
	alert("{$lng.useraccount.login_to_bid}");
	return 0;
	{/if}
	{literal}

	if($(".auction-details").is(":visible"))
		$(".auction-details").slideUp();
	else $(".auction-details").slideDown();

});

$("#show_bids").click(function () { 

	if($(".auction-details").is(":visible"))
		$(".auction-details").slideUp();
	else $(".auction-details").slideDown();

});

$("a.show_phone").click(function(event){

	var field = jQuery(this).attr("id").substr(5);

	$.ajax({
		type		: "GET",
		cache		: false,
		url		: "{/literal}{$live_site}/include/get_phone.php?aid={$listing.id}&{if $listing.user_id}id={$listing.user_id}{/if}&field={literal}"+field,
		data		: $(this).serializeArray(),
		success: function(data) {

				$("#span_"+field).html(data);
				$("#show_"+field).hide();

			} // end data
		});// end ajax

});

$("a.show_l_phone").click(function(event){

	var field = jQuery(this).attr("id").substr(5);

	$.ajax({
		type		: "GET",
		cache		: false,
		url		: "{/literal}{$live_site}/include/get_phone.php?aid={$listing.id}&type=listing&field={literal}"+field,
		data		: $(this).serializeArray(),
		success: function(data) {

				$("#span_"+field).html(data);
				$("#show_"+field).hide();

			} // end data
		});// end ajax

});

$("a.show_email").click(function(event){

	var field = jQuery(this).attr("id").substr(5);

	$.ajax({
		type		: "GET",
		cache		: false,
		url		: "{/literal}{$live_site}/include/get_phone.php?aid={$listing.id}&{if $listing.user_id}id={$listing.user_id}{/if}&field={literal}"+field,
		data		: $(this).serializeArray(),
		success: function(data) {

				$("#span_"+field).html(data);
				$("#show_"+field).hide();

			} // end data
		});// end ajax

});

});// end document ready

$('.tooltip').powerTip({
	placement: 'n'
});


</script>
{/literal}