{if $step==1}
<script>
{literal}
$(document).ready(function () {

var options = { 

	beforeSerialize: function(jqForm, options) { $("body").addClass("loading"); },
        beforeSubmit:  function(formData, jqForm, options) { 
		//var queryString = $.param(formData); 
		if($("#subscribe").find("input[type='submit']:focus").attr("id")=="Cancel") {
			location.href='subscriptions.php';
			return false;
		}
		return true;

	},
        success:       successResponse  // post-submit callback 
 
    }; 

// post-submit callback 
function successResponse(responseText, statusText, xhr, $form)  { 

			var ret = JSON.parse(responseText);

			if(ret.response==1) {

				// go to payment page
				var selected_processor = $('#selected_processor').val();

				$("#payment").html(ret.payment_form);

				if(selected_processor=="klarna") {
					$("body").removeClass("loading");
					$("#payment").slideDown();
					$('html,body').animate({scrollTop:$("#payment").offset().top}, 'slow');
					$(".form_footer").hide();
				}
				else if(selected_processor=="stripe") {
					$("#Submit").attr("disabled", "disabled");
					setTimeout(function(){ $( ".stripe-button-el" ).trigger("click"); }, 2000);
				}
				else 
					$("#payment_form").submit();

				return;
			}

			// response = 0 -> show the error
			$(".error").html("<p>"+ret.error+"</p>");
			$(".error").show();

			$("body").removeClass("loading"); 

} 

//initialize the AJAX form
 $('#subscribe').ajaxForm(options);

$(document).on("click", ".select_subscription", function(){ 

	// get current selected subscription
	var sub_no = parseInt(jQuery(this).attr("id").substr(19));

	var det = jQuery(this).attr("alt");
	var split_res=det.split("^");
	var sub_no = split_res[0];
	var sub_name = split_res[1];
	var sub_price = split_res[2];

	// set value for selected plan
	$("#subscription").val(sub_no);

	$("#subscriptions").slideUp();

	$("#subscription_selected span.tag").html(sub_name+" ( "+sub_price+" )");
	$("#subscription_selected").slideDown();

	loadPayment( sub_no);
	reinit();

}); // end select_plan click

$(document).on("click", "#change_subscription", function(){ 

	// empty plan value
	$("#subscription").val(0);

	// show plans box
	$("#subscription_selected").slideUp();
	$("#subscriptions").slideDown();

	// hide payment_details form
	$("#payment_details").html("");
	$("#payment_details").show();

}); // end change plan

}); // end document ready


function loadPayment (sub_no) {

	$.ajax({
		type		: "GET",
		cache		: false,
		url		: "{/literal}{$live_site}{literal}/subscribe.php?step=2&subscription="+sub_no,
		data		: $(this).serializeArray(),
		success: function(data) {
			$("#payment_details").html(data);
		}// end data
	}); // end ajax

}

{/literal}

{if (isset($id) && $id) || (isset($only_sub) && $only_sub)}
loadPayment ({$only_sub});
{/if}
</script>
{/if}
{if $step==2}
{literal}
<script>
$(document).ready(function() {

	// *********** tax value **************
	{/literal}

	{if $no_processors>1 || ($no_processors==1 && $credits_allowed)}
	only_processor = 0;
	{else}
	only_processor = 1;
	{/if}

	{if $total}

	if(only_processor)
		var processor = $('input[name=processor]').val();
	else 
		var processor = $('input:radio[name=processor]:checked').val();		

	var total = $("#full_total").val();
	calculateTax(processor, total);


	{/if} {* end if total *}

	{literal}


	$('input:radio[name=processor]').change(function() { 

		processor = $('input:radio[name=processor]:checked').val();
		calculateTax(processor, $("#full_total").val());

		// for embedded payments
		$("#selected_processor").val(processor);
		reinit();

	})

	// end tax value


});
</script>
{/literal}
{/if}