<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
		codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,79,0"
		id="{$img_name}" width="{$img_width}" height="{$img_height}">
		<param name="movie" value="{$live_site}/images/{$img_name}">
		<param name="bgcolor" value="#FFFFFF">
		<param name="quality" value="high">
		<param name="allowscriptaccess" value="samedomain">
		<embed type="application/x-shockwave-flash"
			pluginspage="http://www.macromedia.com/go/getflashplayer"
			name="{$img_name}"
			width="{$img_width}" height="{$img_height}"
			src="{$live_site}/images/{$img_name}"
			quality="high"
			swliveconnect="true"
			allowscriptaccess="samedomain">
		<noembed>
		</noembed>
		</embed>
		</object>