{include file="header.html"}

<div class="page_title">{$lng.panel.settings} > <a href="manage_fieldsets.php">{$lng.panel.fieldsets}</a> > {if isset($id) && $id}{$lng.fieldsets.edit_fieldset}{else}{$lng.fieldsets.add_fieldset}{/if}</div>

<div class="p30">
<form name="add_fset" method="post" action="{$self}{if isset($id) && $id}?id={$id}{/if}">

<div class="form_container">

{if isset($error) && $error}<div class="error">{$error}</div>{/if}

<div class="clearfix">
	<div class="left_form">{$lng.general.name}</div>
	<div class="right_form"><input type="text" maxlength="200" name="fieldset_name" size=30 value="{if isset($tmp.name)}{$tmp.name}{/if}" /></div>
</div>

<div class="clearfix">
	<div class="left_form">{$lng.general.description}</div>
	<div class="right_form"><input type="text" maxlength="500" name="description" size=60 value="{if isset($tmp.description)}{$tmp.description}{/if}" /></div>
</div>

<div class="form_footer">
	<div class="buttons rfloat" {if $demo}onClick="alert('{$lng.general.errors.demo}');return false;"{/if}>
		<span class="positive"><input type="submit" name="Submit" id="Submit" value="{$lng.general.submit}" /></span>
	</div>
	<div class="clearfix"></div>
</div>

</div> {* end form_container *}

</form>
</div>

{include file="footer.html"}