<div class="form_container">

{if $error != ""}<div class="error">{$error}</div>{/if}
{if $info != ""}<div class="info">{$info}</div>{/if}

<div class="clearfix">
	<div class="left_form">{$lng.settings.username}</div>
	<div class="right_form"><input type="text" maxlength="100" size="40" name="bulksms_username" id="bulksms_username" value="{$processor_settings.bulksms_username}" /></div>
</div>

<div class="clearfix">
	<div class="left_form">{$lng.settings.password}</div>
	<div class="right_form"><input type="text" maxlength="100" size="40" name="bulksms_password" id="bulksms_password" value="{$processor_settings.bulksms_password}" /></div>
</div>

<div class="form_footer">
	<div class="buttons rfloat" {if $demo}onClick="alert('{$lng.general.errors.demo}');return false;"{/if}>
		<span class="positive"><input type="submit" name="Submit_bulksms" value="{$lng.general.submit}" /></span>
	</div>
	<div class="clearfix"></div>
</div>

</div> {* end form_container *}