{include file="overlay_header.html"}
<script type="text/javascript" src="{$live_site}/libs/jQuery/jquery.js"></script>

<div class="wait"></div>

<div class="overlay-top-bg">{$lng.groups.delete}: {$group.name}</div>

{if isset($info) && $info}<div class="info">{$info}</div>
{else}

<form method="post" action="{$live_site}/admin/delete_group.php?id={$id}">

<div class="info" style="display: none"></div>

<div class="form2 lpdiv100" style="height: 370px;">

<ul>

<li>
	<input type="radio" name="action" value="delete" checked> &nbsp; &nbsp; {$lng.groups.delete_all_users}<br>
	<input type="radio" name="action" value="move"> &nbsp; &nbsp; {$lng.groups.move_users_to}<br><br>

	{foreach from=$groups_array item=v name=gr}
	{if $v.id!=$id}
	<input type="radio" name="move_to" value="{$v.id}" checked>&nbsp;&nbsp;{$v.name}&nbsp;&nbsp;
	{/if}
	{/foreach}
</li>

</ul>

</div> {* end form2 *}

<div class="overlay-bottom-bg">
<div class="buttons" {if $demo}onClick="alert('{$lng.general.errors.demo}');return false;"{/if}>
	<strong><input type="submit" name="Submit" value="{$lng.general.submit}" /></strong>
</div>
</div>

</form>
{/if}
{include file="overlay_footer.html"}