{include file="header.html"}

<div class="page_title">{$lng.panel.settings} > {$lng.settings.extra_visibility_options} > {$lng.settings.edit_featured_plan}</div>

<div class="p30">
<form name="editfp" method="post" action="{$self}?id={$id}">

<div class="form_container">

{if $error != ""}<div class="error">{$error}</div>{/if}


<div class="clearfix">
	<div class="left_form">{$lng.priorities.price}<span class="mandatory"> *</span></div>
	<div class="right_form"><input type="text" name="fp_amount" size="30" value="{$tmp.amount}" /></div>
</div>

<div class="clearfix">
	<div class="left_form"><img src="{$template_path}images/info.png"  class="tooltip icon" title="{$lng.settings.info.featured_expires}" />&nbsp;{$lng.settings.featured_expires}<span class="mandatory"> *</span></div>
	<div class="right_form"><input type="text" name="fp_no_days" size="30" value="{$tmp.no_days}" />&nbsp;{$lng.settings.days}</div>
</div>

<div class="form_footer">
	<div class="buttons rfloat" {if $demo}onClick="alert('{$lng.general.errors.demo}');return false;"{/if}>
		<span class="positive"><input type="submit" name="Submit" value="{$lng.general.submit}" /></span>
	</div>
	<div class="clearfix"></div>
</div>

</div> {* end form_container *}
</form>
</div> {* p30 *}


{include file="footer.html"}