{include file="header.html"}

<div class="page_title">{$lng.panel.settings} > {$lng.settings.mails_settings}</div>

<div class="p30">
<form name="settings" method="post" action="mails_settings.php" enctype="multipart/form-data">

<div class="form_container">

{if $error != ""}<div class="error">{$error}</div>{/if}
{if $successful}<div class="info">{$lng.settings.settings_saved}</div>{/if}

<div class="clearfix">
	<div class="left_form"><img src="{$template_path}images/info.png"  class="tooltip icon" title="{$lng.settings.info.html_mails}" />&nbsp;{$lng.settings.html_mails}</div>
	<div class="right_form"><input type="checkbox" class="noborder" name="html_mails" {if $mail_settings.html_mails==1} checked="checked" {/if} /></div>
</div>

<div class="clearfix">
	<div class="left_form">{$lng.settings.use_smtp_authentication}</div>
	<div class="right_form"><input type="checkbox" name="use_smtp_auth" {if $mail_settings.use_smtp_auth==1} checked="checked" {/if} /></div>
</div>

<div class="clearfix">
	<div class="left_form">{$lng.settings.smtp_server}</div>
	<div class="right_form"><input type="text" maxlength="50" size="40" name="smtp_server" value="{$mail_settings.smtp_server}" /></div>
</div>

<div class="clearfix">
	<div class="left_form">{$lng.settings.encryption}</div>
	<div class="right_form">
		<select id="encryption" name="encryption">
		<option value="">{$lng.general.none}</option>
		<option value="ssl" {if $mail_settings.encryption=='ssl'}selected{/if}>SSL</option>
		<option value="tls" {if $mail_settings.encryption=='tls'}selected{/if}>TLS</option>
		</select>

	</div>
</div>

<div class="clearfix">
	<div class="left_form">{$lng.settings.port}</div>
	<div class="right_form"><input type="text" maxlength="5" size="10" name="port" value="{$mail_settings.port}"></div>
</div>

<div class="clearfix">
	<div class="left_form">{$lng.settings.username}</div>
	<div class="right_form"><input type="text" maxlength="70" size="40" name="mail_username" value="{$mail_settings.username}"></div>
</div>

<div class="clearfix">
	<div class="left_form">{$lng.settings.password}</div>
	<div class="right_form"><input type="password" maxlength="70" size="20" name="mail_password" value="{$mail_settings.password}" /></div>
</div>

<div class="clearfix">
	<div class="left_form"><img src="{$template_path}images/info.png"  class="tooltip icon" title="{$lng.settings.info.bcc_to}" />&nbsp;{$lng.settings.bcc_to}</div>
	<div class="right_form"><input type="text" size="40" name="bcc_to" value="{$mail_settings.bcc_to}" /></div>
</div>

<div class="clearfix">
	<div class="left_form"><img src="{$template_path}images/info.png"  class="tooltip icon" title="{$lng.settings.info.send_using_admin_email}" />&nbsp;{$lng.settings.send_using_admin_email}</div>
	<div class="right_form"><input type="checkbox" class="noborder" name="send_using_admin_email" {if $mail_settings.send_using_admin_email==1} checked="checked" {/if} /></div>
</div>


<div class="form_footer">
	<div class="buttons rfloat"  {if $demo}onClick="alert('{$lng.general.errors.demo}');return false;"{/if}>
		<span class="positive"><input type="submit" name="Submit" id="Submit" value="{$lng.general.save_changes}" /></span>
	</div>
	<div class="clearfix"></div>
</div>

{if $info}<div class="info">{$info}</div>{/if}
{if isset($extra_info) && $extra_info}<div class="warning">{$extra_info}</div>{/if}

<div class="form_footer">
	<div class="buttons" style="margin-left: 400px;">
		<span class="positive"><input type="submit" name="Test" value="{$lng.settings.test_mails}" /></span>
	</div>
	<div class="clearfix"></div>
</div>


</div> {* end form_container *}
</form>
</div> {* p30 *}

{include file="footer.html"}
