<div class="form_container">

{if $error != ""}<div class="error">{$error}</div>{/if}
{if $info != ""}<div class="info">{$info}</div>{/if}

<div class="clearfix">
	<div class="left_form">Merchant Key</div>
	<div class="right_form"><input type="text" maxlength="100" size="40" name="merchant_key" id="merchant_key" value="{$processor_settings.merchant_key}" /></div>
</div>

<div class="clearfix">
	<div class="left_form">Salt</div>
	<div class="right_form"><input type="text" maxlength="200" size="40" name="salt" id="salt" value="{$processor_settings.salt}" /></div>
</div>

<div class="clearfix">
	<div class="left_form">Product Info</div>
	<div class="right_form"><input type="text" maxlength="200" size="70" name="productinfo" id="productinfo" value="{$processor_settings.productinfo}" /></div>
</div>


<div class="clearfix">
	<div class="left_form">&nbsp;Test mode</div>
	<div class="right_form"><input type="checkbox" name="demo" id="demo" {if $processor_settings.demo==1} checked="checked"{/if} /></div>
</div>

<div class="form_footer">
	<div class="buttons rfloat" {if $demo}onClick="alert('{$lng.general.errors.demo}');return false;"{/if}>
		<span class="positive"><input type="submit" name="Submit_payumoney" value="{$lng.general.submit}" /></span>
	</div>
	<div class="clearfix"></div>
</div>

</div> {* end form_container *}