{include file="header.html"}

<div class="page_title">{$lng.panel.settings} > {if $processor}<a href="sms_gateways.php">{/if}{$lng.panel.sms_gateways}{if $processor}</a> > {$processor_name} {$lng.panel.settings}{/if}</div>

<div class="p30">
<form name="settings" method="post" action="sms_gateways.php{if $processor}?processor={$processor}{/if}" enctype="multipart/form-data">

{if !$processor}
<table cellpadding="0" cellspacing="0" align="center" width="100%" class="datatable">
<tr id="theading">
	<th class="hleft">{$lng.settings.sms_gateway}</th>
	<th>{$lng.listings.title}</th>
	<th width="20"></th>
	<th colspan="3" width="300" class="hright"></th>
</tr>

{foreach from=$array_processors item=v}
<tr>
	<td>{$v.gateway_name}</td>
	<td><span id="span_title{$v.gateway_code}">{$v.gateway_title}</span><div id="div_title{$v.gateway_code}" style="display: none;"><input type="text" name="title{$v.gateway_code}" id="title{$v.gateway_code}" size="20" value="{$v.gateway_title}">&nbsp;&nbsp;&nbsp;<INPUT TYPE="Button" VALUE="{$lng.general.save}" onClick="{if $demo}alert('{$lng.general.errors.demo}');{else}saveSMSGatewayTitle('{$v.gateway_code}'){/if}"></div></td>

	<td><a href="javascript:;" onClick="onEditSMSGatewayTitle('{$v.gateway_code}')"><img src="{$template_path}images/edit.png" class="tooltip icon" title="{$lng.general.edit}" alt="{$lng.general.edit}"></a></td>
	<td width="70">
	{if $v.default}
	<div class="small-btn optionsbutton icon">{$lng.general.default}</div>
	{else}
	<a href="javascript:;" onClick="{if $demo}alert('{$lng.general.errors.demo}');{else}onSetDefault('{$v.gateway_code}', 'sms_gateway', '{$lng.settings.confirm_set_default}'){/if}"><div class="small-btn activebutton icon">{$lng.languages.set_default}</div></a>
	{/if}
	</td>

	<td width="70">
	<a href="sms_gateways.php?processor={$v.gateway_code}"><div class="small-btn inactivebutton icon">{$lng.settings.edit_settings}</div></a>
	</td>
</tr>

{/foreach}
</table>

{else} {* if processor *}

{include file="`$processor`_settings.html"}

{/if}
</form>
</div> {* p30 *}


{include file="footer.html"}
