body {  background: url("../images/anthracite/bg.jpg") !important; }
a:hover { color: #afb06c; }

.default_logo { background: url("../images/anthracite/small_logo.jpg") no-repeat 0 0; width: 223px; height: 74px;}

@media all and (min-width: 600px) {
	
	#topnav { background: #73707e !important; color: #e1e0e4 !important; }
    .default_logo { background: url("../images/anthracite/logo.jpg") no-repeat 0 0; width: 281px; height: 110px;}
	
}

.submenu { background-color: #73707e; border: 1px solid #83808e; }
.submenu2 { border-top: 4px solid #b2bb72; }
.submenu2 li a:hover { color: #afb06c !important; } 
.submenu2 li.signout a { color: #5f708e !important; background: url("../images/anthracite/sign-out-icon.png") 20px 50% no-repeat;}
.submenu2 li.signout a:hover { color: #5f708e !important; background: url("../images/anthracite/sign-out-icon.png") 20px 50% no-repeat !important;}

.box {  border:  1px solid #bbbbbf !important; }
#header { position:relative; background: url(../images/anthracite/top-bg.jpg) bottom repeat-x; background-color: #fff; z-index: 2; }

.price { color: #363636; }

.small-light a:hover { color: #afb06c; }

#tree_categories li a:hover { color: #afb06c;}

.btn1 {  background: #919fb7;}
div.btn1:hover { color: #e1e0e4 !important; }
div.btn2:hover { color: #afb06c; }
.btn4 {  background: #93a1ba;}
.btn5 {  background: #919fb7;}
div.btn5:hover { color: #e1e0e4 !important; }
.btn6 { background: #f8c321; color: #222;}
.btn6 a { color: #222; }

.positive {
	background: #a8a969;
	border: 0;
	color: #fff;
}
.negative {
	background: #dc5359;
	border: 0;
	color: #fff;
}

.btn8 { 
    background-color: #89888e;
	background: linear-gradient(to bottom, #89888e, #7b7981); 
	background: -webkit-linear-gradient(to bottom, #89888e, #7b7981); 
	background: -o-linear-gradient(to bottom, #89888e, #7b7981); 
	background: -moz-linear-gradient(to bottom, #89888e, #7b7981);
}
div.btn8 a { color: #bbb;}

.btn8-right-arrow { 
	background: #89888e url('../images/anthracite/button2-right-arrow.png') no-repeat top right;
	background: url('../images/anthracite/button2-right-arrow.png') no-repeat top right, -webkit-linear-gradient(to bottom, #89888e, #7b7981);
	background: url('../images/anthracite/button2-right-arrow.png') no-repeat top right, -o-linear-gradient(to bottom, #89888e, #7b7981);
	background: url('../images/anthracite/button2-right-arrow.png') no-repeat top right, -moz-linear-gradient(to bottom, #89888e, #7b7981);
	background: url('../images/anthracite/button2-right-arrow.png') no-repeat top right, linear-gradient(to bottom, #89888e, #7b7981);
}

.btn_video { background: #605683 url(../images/anthracite/btn_video.png) no-repeat 10px; }

.heading2 { background-color: #919fb7; color: #ffffff;  }
.heading2-under { background:  transparent url('../images/anthracite/heading2-bg.jpg') no-repeat 0 0;}
.heading5 { background-color: #dae4ed; color: #5e6e7d; }
.heading5-under { background:  transparent url('../images/anthracite/heading5-bg.jpg') no-repeat 0 0;}
.lbox h3 a:hover { color: #afb06c; }
.inline-lbox h3 a { color: #868686 !important; } /*a8c322  826671*/
.inline-lbox h3 a:hover { color: #afb06c !important; }

.post-listing-btn a:hover { color: #f2f2f2; }
.post-listing-btn a { background-color: #8b9ab3; }
.post-listing-small a { background: #8b9ab3 url("../images/post-listing-small.png") 7px 6px no-repeat; }

.paginator a{ border: 1px solid #6e6786; background-color: #86809c; }
.featured-icon {  background: transparent url('../images/anthracite/small-featured.png') no-repeat;}
.featured-big-icon {  background: transparent url('../images/anthracite/big-featured.png') no-repeat;}

.sold-bg { background-color: #a93c2a; border-bottom: 1px solid #972d1b; color: #fff;}
.rented-bg { background-color: #953565; border-top: 1px solid #90245a; color: #fff;}
.images-no  { background-color: #979797; color: #fff; }

.error { color: #fff;  background: url("../images/anthracite/error.png") no-repeat 0 #a7415c;}
.info { color: #fff; background: url("../images/anthracite/info.png") no-repeat 0 #7a8aa7;}
.warning { color: #ab803f; background: url("../images/blue/warning.png") no-repeat 0 #ffc868;}

.error a { color: #fff; font-weight: bold; }
.info a { color: #fff; font-weight: bold; }
.warning a { color: #fff; font-weight: bold; }

.err { border: 2px solid #fe7360 !important; }
.err:hover { border: 2px solid #f85842 !important;}
.err_label { color: #fe7360 !important; }

.plan_price { color: #555; }
.plan_button { border: 1px solid #a2a0ab; border-radius: 3px; background-color: #a7a5af;}

.plan_title0 { border-bottom: 1px solid #9ca8bf; background-color: #aeb9ce; }
.plan_title0 h3 { color: #fff; }
.plan_title0 .small-light {color: #e9eef6;}

.plan_title1 { border-bottom: 1px solid #afb872; background-color: #bcc57f; }
.plan_title1 h3 { color: #fff; }
.plan_title1 .small-light {color: #eef1d7;}

.plan_title2 { border-bottom: 1px solid #ee744e; background-color: #fe8560; }
.plan_title2 h3 { color: #fff; }
.plan_title2 .small-light {color: #ffeae3;}

.plan_title3 { border-bottom: 1px solid #af7f51; background-color: #c49669; }
.plan_title3 h3 { color: #fff; }
.plan_title3 .small-light { color: #ebe1d7;}

.plan_title4 { border-bottom: 1px solid #a46fb8; background-color: #b382c5;}
.plan_title4 h3 { color: #fff; }
.plan_title4 .small-light { color: #e8dcec;}

.plan_title5 { border-bottom: 1px solid #65a877; background-color: #76b988;}
.plan_title5 h3 { color: #fff; }
.plan_title5 .small-light { color: #dae9de;}

#theading th { background-color: #a397cc; color: #fff;}
#theading .hleft { background: url("../images/anthracite/theading_left.jpg") 0 0 no-repeat; background-color: #a397cc; } 
#theading .hright {background: url("../images/anthracite/theading_right.jpg") 100% 0 no-repeat; background-color: #a397cc; } 
.datatable tr { background-color: #f0f3f8; }
.datatable tr:hover { background-color: #e5e9f1;}
.datatable .left-heading { background-color: #b7b5c2; color: #fff;}
.datatable .left-heading:hover { background-color: #b7dfec !important; }

.more a{ color: #bcbd79 !important;}
.more a:hover { color: #cccd89 !important;}

a.more{ color: #bcbd79 !important;}
a.more:hover { color: #cccd89 !important;}

.tc_medium a { color: #3c3c3c !important; }
.tc_large a { color: #8292ac !important; }
.tc_largest a { color: #afb06c !important; }

.tc_medium a:hover { color: #6c6c6c !important; }
.tc_large a:hover { background: #8292ac; color: #fff !important; }
.tc_largest a:hover { background: #afb06c; color: #fff !important; }

#create_alert:hover { color: #afb06c;  }
.check_on { background: url("../images/anthracite/checkbox_on.png") 0 8px no-repeat; }



.ov-bottom-text { color: #484650; }
.ov-bottom-text a { color: #737431; }
.ov-separator { border-top: 1px solid #dddbe3;}
.ov-body {background-color: #beb5c2 !important; }

.row-odd { background-color: #f3f7f9; }
.row-even {background-color: #e9eef3; }


/*register */
.regbox1 { background-color: #e5f0f4; color: #a9b5b9; }
.regbox1 .btitle {  background: url("../images/anthracite/rbox1_sep.png") bottom repeat-x;}

.regbox2 { background-color: #e0f3e7; color: #a2b8aa; }
.regbox2 .btitle {  background: url("../images/anthracite/rbox2_sep.png") bottom repeat-x;}

.regbox3 { background-color: #e7e6d3; color: #bebda5; }
.regbox3 .btitle {  background: url("../images/anthracite/rbox3_sep.png") bottom repeat-x;}

.regbox4 { background-color: #f4edcd; color: #beb795; }
.regbox4 .btitle {  background: url("../images/anthracite/rbox4_sep.png") bottom repeat-x;}

.regbox5 { background-color: #cbc1be; color: #928986; }
.regbox5 .btitle {  background: url("../images/anthracite/rbox5_sep.png") bottom repeat-x;}

/* end register */

td.category {  background: url('../images/anthracite/corner.png') right bottom no-repeat; }
.bullet-bg {  background: url('../images/anthracite/bullet-bg.png') no-repeat;  color: #a1a0a4; }
.special { color: #b2c228; }
.current-filter { background: #86809c; }
#compare_button { background: #acad67; } 
#compare_button:hover { background: #bcbd79; }
.search-button input { 
	background: #787581; 
	background: linear-gradient(to bottom, #888591, #625f6b); 
	background: -webkit-linear-gradient(to bottom, #888591, #625f6b); 
	background: -o-linear-gradient(to bottom, #616753, #625f6b); 
	background: -moz-linear-gradient(to bottom, #616753, #625f6b);
}


.heading1 { background-color: #dfdee2;}

.heading1-under { background:  transparent url('../images/anthracite/heading1-bg.jpg') no-repeat 0 0;}

a.browse { background:url(../images/anthracite/featured-arrows.png) no-repeat; }
a.right { background-position: 0 -35px; }

#footer { background: url(../images/anthracite/footer-line.jpg) repeat-x; background-color:  #35333d ; color: #e1e0e4;}
#footer a { color: #e1e0e4; }
#footer a:focus,
#footer a:hover,
#footer a:active { color: #f1f0f4;}

.news_bg { background: #454255 url(../images/anthracite/dark-bg.jpg) repeat-x; color: #999; }

.plan_options ul { list-style-image: url('../images/anthracite/bullet.png');}
.subscription_details ul { list-style-image: url('../images/anthracite/bullet.png');}
.subscription_options ul { list-style-image: url('../images/anthracite/bullet.png');}
ul.list1 li { color: #9fa860;}

.save-search-left{ background: transparent url('../images/anthracite/save-search-left.png') no-repeat top left;}
.help-left{ background: transparent url('../images/anthracite/help-left.png') no-repeat top left;}
.rtheader-right { background: transparent url('../images/anthracite/rtheader-right.png') no-repeat top right;}

.ext_text { color: #777; }
.ext_text a { color: #777; }

@media all and (min-width: 800px) {

	.secnavbar li { background-image: url('../images/anthracite/separator2.jpg');}
	
}

@media all and (min-width: 700px) and (max-width: 1200px) {
.ov-box1 { background: url("../images/anthracite/bg.jpg") !important; }
}
