{include file="header.html"}
{include file="data/ui.html"}


<div class="main1 box">
<div class="page_title heading"><h1>{$lng.affiliates.revenue_history}</h1></div>

<div class="p30">
<form name="browse" id="browse" method="post" action="affiliate_revenue.php">

<div class="lfloat" style="width: 600px;">

<div class="lfloat">
		<select name="order" onchange="doSel(this);">

		<option value="location.href='{$order_by_link|replace:'##order##':'date'}'" {if $order=='date'}selected="selected"{/if}>
		{$lng.order_history.order_by_date}</option>

		<option value="location.href='{$order_by_link|replace:'##order##':'amount'}'" {if $order=='amount'}selected="selected"{/if}>
		{$lng.order_history.order_by_amount}</option>

		</select>

		<select name="order_way" onchange="doSel(this);">
		<option value="location.href='{$order_way_link|replace:'##order_way##':'desc'}'" {if $order_way=='desc'}selected="selected"{/if}>{$lng.general.desc}</option>
		<option value="location.href='{$order_way_link|replace:'##order_way##':'asc'}'" {if $order_way=='asc'}selected="selected"{/if}>{$lng.general.asc}</option>
		</select>

</div>

	<div class="btn9 lfloat ml10">

	<a href="javascript:;" id="add_search">{$lng.general.search}&nbsp;<img src="{$template_path}images/gray-down-arrow.png" /></a>

	<a href="javascript:;" id="remove_search">{$lng.general.search}&nbsp;<img src="{$template_path}images/gray-up-arrow.png" /></a>

	</div>

</div>

<div class="rfloat">
{include file="paginator.html"}
</div>

<div class="clearfix"></div>

<div id="search_box" style="display: none;">

<input type="hidden" name="page" value = "{$page}" />
<input type="hidden" name="order" value = "{$order}" />
<input type="hidden" name="order_way" value = "{$order_way}" />
<input type="hidden" name="no_per_page" value = "{$no_per_page}" />

<input type="text" name="amount_from" size="10" class="defaultText" title="{$lng.useraccount.amount_start}" value="{if isset($post_array.amount_from)}{$post_array.amount_from}{/if}" />

<input type="text" name="amount_to" size="10" class="defaultText" title="{$lng.useraccount.amount_end}" value="{if isset($post_array.amount_to)}{$post_array.amount_to}{/if}" />

<input name="date_from_vis" id="date_from_vis" type="text" size="15" class="defaultText" title="{$lng.useraccount.date_start}"/>
<input name="date_from" id="date_from" type="hidden"/>

<input name="date_to_vis" id="date_to_vis" type="text" size="15" class="defaultText" title="{$lng.useraccount.date_end}" />
<input name="date_to" id="date_to" type="hidden" />

<div class="buttons"><input type="submit" class="button" name="Search" value="{$lng.general.search}" /></div>


</div> {* end search box *}

{literal}
<script type="text/javascript">
	$(document).ready(function() {
		$("input").keypress(function(e)
		{
        		// if the key pressed is the enter key
        		if (e.which == 13)
        		{

				// delay action so the autocomplete list to fill
				setTimeout(function() { $("#search").submit();}, 200);

				return false;
        		}
		});
		$("#remove_search").hide();
		$("#search_box").hide();
		$("#add_search").click(function()
		{
			$("#remove_search").show();
			$("#add_search").hide();
			$("#search_box").slideDown('fast').show();
			
		});

		$("#remove_search").click(function()
		{
			$("#add_search").show();
			$("#remove_search").hide();
			$("#search_box").hide().slideUp('fast');
		});

		$('.tooltip').powerTip({
			placement: 'n'
		});

	});
</script>
{/literal}

<script type="text/javascript">
{literal}
	$(function() {
		$('#date_from_vis').datepicker({
			dateFormat: "M dd yy",
			changeMonth: true,
			changeYear: true,
			altField: '#date_from', altFormat: 'yy-mm-dd'
		});

		$('#date_to_vis').datepicker({
			dateFormat: "M dd yy",
			changeMonth: true,
			changeYear: true,
			altField: '#date_to', altFormat: 'yy-mm-dd'
		});
	});
{/literal}
</script>

<table cellpadding="0" cellspacing="0" align="center" width="100%" class="datatable">
<tr id="theading">
	<th>{$lng.order_history.amount}</th>
	<th>{$lng.order_history.date}</th>
	<th width="100">{$lng.general.status}</th>
</tr>

{foreach from=$revenue_array item=v}
<tr {if !isset($v.completed) || !$v.completed}class="inactive"{/if}>
	<td>{$v.amount_nice}</td>
	<td>{$v.date_nice}</td>

	<td>
		<div>{if $v.released}<div class="small-btn activebutton icon">{$lng.affiliates.released}</div>{else}<div class="small-btn inactivebutton icon">{$lng.affiliates.not_released}</div>{/if}{if $v.paid}<div class="small-btn optionsbutton icon">{$lng.affiliates.paid}</div>{else}<div class="small-btn inactivebutton icon">{$lng.affiliates.not_paid}</div>{/if}</div>
	</td>

</tr>
{/foreach}

{if $no_rev==0}
	<tr><td colspan="3" align="center">{$lng.general.no_items}</td></tr>
{/if}
</table>
</form>

{if $no_rev}<div class="rfloat">{include file="paginator.html"}</div>{/if}

<div class="mt10">
	{$lng.general.show}
	<select name="no_per_page_sel" onchange="doSel(this);">
		{section name=pg loop=60 start=10 step=10}
		<option value="location.href='{$crt_page_link}&no_per_page={$smarty.section.pg.index}'" {if $no_per_page==$smarty.section.pg.index} selected="selected" {/if}>{$smarty.section.pg.index}</option>
		{/section}
	</select>
	{$lng.general.on_a_page}
</div>

</div> {* end p30 *}
</div>{* end main1 *}
{include file="footer.html"}