{include file="header.html"}

<div class="wait"></div>

<div class="main1 box">
<div class="page_title heading"><h1>{$lng.useraccount.bulk_uploads}</h1></div>

<div class="form_container pt30">

<form name="bulk" method="post" action="bulk_uploads.php" enctype="multipart/form-data">

<div id="bulk" class="relative">

<div class="buttonwrapper rspace10 rtheader"><div class="help-left">
<a href="{$live_site}/content.php?id={$ie_settings.custom_page_id}" target="_blank"><span class="rtheader-right">{$lng.general.help}</span></a>
</div></div>
<div class="clearfix"></div>

<div class="status"></div>
<div id="ti" class="on_top_info" style="display: none;"></div>
<div class="clearfix"></div>


<div class="clearfix">
	<div class="left_form">&nbsp;</div>
	<div class="right_form"><input type="file" name="{$ie_settings.bulk_type}_import_file"/></div>
</div>

<div class="clearfix">
	<div class="left_form">&nbsp;</div>
	<div class="right_form">
		<select name="{$ie_settings.bulk_type}_category" id="{$ie_settings.bulk_type}_category">
			<option value="">{$lng.listings.category}</option>
			{foreach from=$bulk_categories item=v name=cat}

			{if $v.parent==1}
			<optgroup label="{$v.str}{$v.name}">
			{else}
			<option value="{$v.id}">{$v.str}{$v.name}</option>
			{if ( $smarty.foreach.cat.index!=$bulk_categories|@count-1 && $v.parent_id!=$bulk_categories[$smarty.foreach.cat.iteration].parent_id) || ($smarty.foreach.cat.index==$bulk_categories|@count && $v.parent_id!=0)}
			</optgroup>
			{/if}
			{/if}
			{/foreach}
		</select>
	</div>
</div>

	<div class="form_footer">
	<div class="buttons rfloat">
		<input type="submit" class="button positive" name="Submit" id="Submit" value="{$lng.general.upload}" />
	</div>
	<div class="clearfix"></div>
	</div>


</div> {* end bulk *}

</form>
{*
{if isset($info) && $info}
<div class="status" style="display: none;">
<p>{$info}</p>
</div>
{/if}
*}
</div> {* end form_container *}
</div>{* end main *}


<script type="text/javascript">

	var added = "{$lng.ie.added}";
	var listing="{$lng.listings.listing}";
	var status = "{$lng.ie.bulk_upload_status}";
	var success = "{$lng.ie.successfully}";
	var failed = "{$lng.ie.failed}";
	var type="{$type}";
	
{if $import_id}
	$(document).ready(function() {

		import_id="{$import_id}";
		$("body").addClass("loading");
		if(type=="csv") start=1; else start=-1;
		bulkUpload(import_id, start);

	});
	{literal}
	function bulkUpload(import_id, line) {
		$.ajax({
			method: "get",
			url: "include/import_element.php?type="+type+"&import_id="+import_id+"&line="+line,
			beforeSend: function() {  },
			complete: function() { },
			success: function(returnedData)
			{
				var split=returnedData.split("|");
				if(split[0]!=0) { 
					
					if(split[1]) {

						$(".on_top_info").html(listing+" #"+split[1]+" "+added);
						
						var el = document.getElementById('ti');
						el.style.animation = 'none';
						el.offsetHeight;
						el.style.animation = null; 

						if(!$(".on_top_info").is(":visible")) $(".on_top_info").show();
					}

					bulkUpload(import_id, split[0]); 
				}
				else { 
				    $("body").removeClass("loading");
				    
				    $(".info").html(status+' '+split[1]+' '+success+', '+split[2]+' '+failed);
				    $(".info").show();
				}
			}
		});
	}
	{/literal}


{/if}

</script>

{include file="footer.html"}