{include file="header.html"}

<div class="main1 box">
<div class="page_title heading"><h1>{$lng.navbar.password_recovery}</h1></div>

<div class="form_container pt30">

{if isset($error) && $error}<div class="error ma20"><p>{if isset($error)}{$error}{/if}</p></div>{/if}

{if isset($key) && $key && (!isset($info) || !$info)}
<form name="change_pass" method="post" action="password_recovery.php?key={$key}">

	<div class="clearfix">
	<div class="left_form">{$lng.password_recovery.new_password}<span class="mandatory"> *</span></div>
	<div class="right_form"><input type="password" name="password" /></div>
	</div>

	<div class="clearfix">
	<div class="left_form">{$lng.password_recovery.repeat_new_password}<span class="mandatory"> *</span></div>
	<div class="right_form"><input type="password" name="password1" /></div>
	</div>

	<div class="clearfix">
	<div class="left_form">&nbsp;</div>
	<div class="right_form">
	{if $settings.register_captcha}
	{if $settings.enable_recaptcha}
	{include file="data/recaptcha.html"}
	{else}
	{include file="data/random_image.html"}
	{/if}
	{/if}
	</div>
	</div>

	<div class="form_footer">
	<div class="buttons rfloat">
		<input type="submit" class="button positive" name="Submit_password" value="{$lng.useraccount.change_password}" />
	</div>
	<div class="clearfix"></div>
	</div>

</form>
{/if}

{if (!isset($info) || !$info) && ( !isset($key) || !$key) }

{if isset($general_info) && $general_info}<div class="mb40"><p>{$general_info}</p></div>{/if}

<form name="pass" method="post" action="password_recovery.php">

	<div class="clearfix">
	<div class="left_form">{$lng.password_recovery.email}<span class="mandatory"> *</span></div>
	<div class="right_form"><input name="email" type="text" size="40" maxlength="255" value="" /></div>
	</div>

	<div class="form_footer">
	<div class="buttons rfloat">
		<input type="submit" class="button positive" name="Submit" value="{$lng.general.submit}"  />
	</div>
	<div class="clearfix"></div>
	</div>

</form>
{/if}

{if isset($info) && $info}
<div class="info ma20">{$info}</div>
{/if}

</div> {* end form_container *}
</div>{* ebd naub1 *}
{include file="footer.html"}