{include file="header.html"}

<div class="wait"></div>

<div class="page_bounds mb40">

<form name="activation_form" id="activation_form" method="post" action="activate_listing.php?id={$id}&post=1">

<div class="heading form_heading">{$lng.listings.activate_listing} #{$id}</div>
<div class="wbg p30">
<div class="form_container">

<div class="error" style="display: none;"></div>
<script type="text/javascript" src="{$live_site}/libs/jQuery/plugins/jquery.form.js"></script>


<script type="text/javascript">
{literal}
$(document).ready(function () {

var options = { 

	beforeSerialize: function(jqForm, options) { $("body").addClass("loading"); },
        beforeSubmit:  function(formData, jqForm, options) { 

		return true;  
	},
        success:       successResponse  // post-submit callback 
 
    }; 

// post-submit callback 
function successResponse(responseText, statusText, xhr, $form)  { 

			var ret = JSON.parse(responseText);

			if(ret.response==1) {

				$(".sms_info").html("<p>"+ret.info+"</p>");
				$(".sms_info").show();
				$(".error").hide();

				$(".tbox").hide();
				$(".form_footer").hide();
				
				$("body").removeClass("loading"); 
				return;
			}

			// response = 0 -> show the error
			$(".error").html("<p>"+ret.error+"</p>");
			$(".error").show();
			//$(".options").hide();

			$("body").removeClass("loading"); 

} 

//initialize the AJAX form
 $('#activation_form').ajaxForm(options);

	// *********** tax value **************

}); // end document ready

{/literal}

</script>

<div class="info sms_info">{if isset($info) && $info}<p>{$info}</p>{/if}</div>

{if !isset($active) || !$active}
<div class="fel">
	<label for="activation">{$lng.users.verification_code}</label>
	<input type="text" name="activation" id="activation" size="10" />
</div>
{/if}

</div> {* end form_container *}

</div>{* end wbg *}

{if !isset($active) || !$active}
<div class="form_footer">
<input type="submit" class="button wide_button positive" name="Submit" id="Submit" value="{$lng.general.submit}" />
</div>
{/if}

</form>
</div>

{include file="footer.html"}