{include file="header.html"}
{include file="data/ui.html"}

<div class="page_bounds">
<div class="page_title"><h1>{$lng.useraccount.statistics}</h1></div>

<div class="col-6">

<div class="dark-container2 mb30 stats-box">

<div class="heading">{$lng.stats.general}</div>

<div class="adesc">
	<span>{$lng.useraccount.account_type}</span>
	{$group.name}
</div>

<div class="adesc">
	<span>{$lng.users.affiliate_id}</span>
	{$crt_usr_sett.affiliate_id}
</div>

<div class="adesc">
	<span>{$lng.users.affiliate_link}</span>
	<a href="{$user.affiliate_link}" target="_blank">{$user.affiliate_link}</a>
</div>

<div class="adesc">
	<span>{$lng.useraccount.last_login}</span>
	{if isset($last_login.date_login_nice) && $last_login.date_login_nice}{$last_login.date_login_nice}{else}-{/if}
</div>

<div class="adesc">
	<span>{$lng.useraccount.last_login_ip}</span>
	{if isset($last_login.ip) && $last_login.ip}{$last_login.ip}{else}-{/if}
</div>

<div class="adesc">
	<span>{$lng.affiliates.last_payment}</span>
	{if isset($last_payment.amount) && $last_payment.amount}{$last_payment.amount}{else}-{/if}
</div>

<div class="adesc">
	<span>{$lng.affiliates.last_payment_date}</span>
	{if isset($last_payment.date) && $last_payment.date}{$last_payment.date}{else}-{/if}
</div>

<div class="adesc">
	<span>{$lng.affiliates.next_payment_date}</span>
	{if isset($next_payment_date) && $next_payment_date}{$next_payment_date}{else}-{/if}
</div>

<div class="adesc">
	<span>{$lng.affiliates.total_due}</span>
	{$total_due}&nbsp;&nbsp;<a href="affiliate_revenue.php" class="med-btn btn-green">{$lng.affiliates.revenue_history}</a>
</div>

<div class="adesc">
	<span>{$lng.affiliates.total_payments}</span>
	{$total_payments}&nbsp;&nbsp;<a href="affiliate_payments_history.php" class="med-btn btn-green">{$lng.affiliates.payments_history}</a>
</div>

{if isset($pending_payment) && $pending_payment}
<div class="adesc">
	<span>{$lng.affiliates.pending_payment}</span>
	{$pending_payment}
</div>
{/if}

</div> {* end dark-container2 *}

</div>{* end col-6 *}

</div>

<div class="clearfix"></div>
</div> {* end page_bounds *}

{include file="footer.html"}