{if $step==1}
{include file="header.html"}
{include file="js/buy_credits_js.html"}

<script src="{$live_site}/libs/jQuery/plugins/jquery.form.js"></script>
<div class="wait"></div>

<div class="page_bounds">
<div class="page_title"><h1>{$lng.credits.buy_extra_credits}</h1></div>
</div>

<div class="page_bounds mb40">

<form name="buy_credits" id="buy_credits" action="buy_credits.php?step=3" method="post">

<div class="heading form_heading">{$lng.listings.select_plan}</div>

<div class="wbg p30">

<div class="error" {if !isset($error) || !$error}style="display: none;"{/if}><p>{if isset($error)}{$error}{/if}</p></div>

<input type="hidden" name="plan" id="plan" value="{if isset($only_plan) && $only_plan}{$only_plan}{/if}" />

{if $credits_packages|@count>1}

<div id="plans">

	{foreach from=$credits_packages item=v name=package}
	<div class="plan">

		<div class="plan_title plan_title{$smarty.foreach.package.index}">{$v.name}</div>
		
		<div class="plan_body credits_body">
		
		<div class="plan_price">{$v.price_curr}</div>

		<div class="plan_option"><span>{$v.no_credits}</span> {$lng.credits.credits}</div>

		</div>{* end plan_body *}

		<div class="plan_bottom"><a href="javascript:;" class="select_plan plan_button" id="select_plan{$v.id}" alt="{$v.id}^{$v.name}^{$v.price_curr}">{$lng.credits.select_package}</a></div>
		
	</div>{* end plan *}

	{/foreach}

<div class="clearfix"></div>

</div>{* end plans *}

{/if} {* end if credits_packages *}


	<div id="plan_selected" {if !isset($only_plan) || !$only_plan}style="display: none;"{/if}>

	{if !isset($only_plan) || !$only_plan}
	
	<div class="current_selection"><span class="tag">{*{$plan_name} ({$plan_price})*}</span></div>
	<div class="change_selection"><a href="javascript:;" class="button mtm10" id="change_plan">{$lng.listings.change_plan}</a></div>
	<div class="clearfix"></div>
	{else}

	<div>{$plan_name} ({$plan_price})</div>

	{/if}

	</div> {* end plan_selected *}


</div> {* end wbg *}

<div id="payment_details"></div>

</form>

<div id="payment" style="display: none;"></div>
</div> {* end page_bounds *}

{include file="footer.html"}

{/if} {* end step1 *}

{if $step==2}

	<div class="wbg p30 mt30">

	<div class="error" {if !isset($error) || !$error}style="display: none;"{/if}><p>{if isset($error)}{$error}{/if}</p></div>
{if !$error}

<div class="options">

	<input type="hidden" name="full_total" id="full_total" value="{$total}"/>

	{if $enable_coupons}
	<div class="option clearfix" id="div_discount" {if !$total}style="display: none;"{/if}>
		<div class="option_left">{$lng.listings.enter_coupon} :</div>
		<div class="option_right"><input type="text" name="discount_code" id="discount_code" onkeyup="getDiscount(this.form, 'ads',{if $no_processors>1}1{else}0{/if}, {$appearance.price_format_decimals})" onpaste="getDiscount(this.form, 'ads',{if $no_processors>1}1{else}0{/if}, {$appearance.price_format_decimals})" value="{if isset($discount_code)}{$discount_code}{/if}"/></div>
	</div>
	{/if}

	<div class="option clearfix" id="div_total" {if !$total}style="display: none;"{/if}>

	{if $no_processors>1}

	<div class="option_left">{$lng.listings.choose_payment_method} :</div>
	<div class="option_right">
	{foreach from=$payment_processors name=pp item=v}
	<label class="enh_radio chk_container">
		<input type="radio" class="noborder" name="processor" value="{$v.processor_code}" {if $smarty.foreach.pp.index==0}checked="checked"{/if}/> &nbsp;&nbsp;{$v.processor_title}
		<div class="chk_indicator"></div>
	</label>
	{/foreach}
	</div>
	{else}
	<input type="hidden" name="processor" value="{$payment_processors[0].processor_code}"/>

	<div class="option_left">{$lng.subscribe.payment_method}:</div>
	<div class="option_right">{$payment_processors[0].processor_title}</div>

	{/if}

	<input type="hidden" id="selected_processor" value="{$payment_processors[0].processor_code}"/>

	</div>

	<div class="option_price price top_price">
	{$lng.listings.total}: <b>
	{if $appearance.currency_pos==0}{$appearance.default_currency}{/if}<span id="total" style="border: 0px;">{$total}</span>{if $appearance.currency_pos==1}{$appearance.default_currency}{/if}</b>
	</div>

	<div class="option_price price" id="tax_info" style="display: none;">
	<b>{$lng.general.tax}&nbsp;(&nbsp;<span id="tax_str"></span>&nbsp;):</b> <b><span id="tax"></span></b>
	</div>

	<div class="option_price price" id="total_with_tax_info" style="display: none;">
	<b>{$lng.general.total_with_tax}:&nbsp;<span id="total_with_tax"></span></b>
	</div>

</div> {* end options *}

{include file="js/buy_credits_js.html"}

{/if} {* end if error *}

</div> {* end wbg *}
<div class="form_footer mb40">
<input type="submit" class="button wide_button negative" name="Cancel" id="Cancel" value="{$lng.general.cancel}" />
<input type="submit" class="button wide_button positive" name="Submit" id="Submit" value="{$lng.general.submit}" />
<div class="clearfix"></div>
</div>

{/if}
