{include file="header.html"}

<link href="{$template_path}css/style-uploader{if $text_direction=="rtl"}-rtl{/if}.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="{$live_site}/libs/jQuery/plugins/fileuploader.js"></script>
<script type="text/javascript" src="{$live_site}/libs/jQuery/jquery.livequery.min.js"></script>

<div class="page_bounds">
<div class="page_title"><h1>{$lng.listings.edit_photos} {$lng.listings.for_listing} <a href="{if $seo_settings.enable_mod_rewrite}{seo->makeDetailsLink p1=$id}{else}{$live_site}/details.php?id={$id}{/if}"> #{$id}</a></h1></div>
</div>

<div class="page_bounds mb40">

{if $pending_edited}
<div class="wbg p30 mb40">
<div class="warning mb20">{$lng.listings.info.listing_pending_edited}</div>
</div>
{/if}

<div class="wbg p30">

	<div id="file-uploader" class="pt30"></div>

	<div id="maincol"></div>
	<div class="clearfix"></div>

</div> {* end wbg *}
	
<div class="form_footer mb40">
	{if isset($crt_usr) && $crt_usr}
	<a class="button positive" href="my_listings.php">{$lng.useraccount.browse_your_listings}</a>
	{/if}

	<a class="button positive" href="{if $seo_settings.enable_mod_rewrite && isset($crt_usr) && $crt_usr}{seo->makeDetailsLink p1=$id}{else}{$live_site}/details.php?id={$id}{if isset($key) && $key}&key={$key}{/if}{/if}">{$lng.listings.details}</a>
	<div class="clearfix"></div>
</div>

</div> {* end page_bounds *}

	{literal}
	<script>
	function createUploader(){

		var uploader = new qq.FileUploader({
			element: document.getElementById('file-uploader'),{/literal}
			action: 'include/upload.php?id={$id}{if $pending_edited}&pending_edited=1{/if}',
			max_photos: '{$no_photos}',
			crt_photos: '{if isset($crt_photos)}{$crt_photos}{/if}',
			order_up: '{$lng.listings.order_up|addslashes}',
			order_down: '{$lng.listings.order_down|addslashes}',
			delete_file: '{$lng.general.delete|addslashes}',
			template_path: '{$template_path}',
			files_uploaded: "{$lng.listings.files_uploaded|addslashes}",
			allowed: "{$lng.listings.allowed|addslashes}",
			limit_reached: "{$lng.listings.limit_reached|addslashes}",
			click_to_upload: "{$lng.listings.click_to_upload|addslashes}",
	{literal}
			messages: { 
			failed_message: "{/literal}{$lng.failed|addslashes}{literal}",
			typeError: "{/literal}{$lng.images.errors.file_type_not_accepted|addslashes}{literal}" 
			},
			params: {
        			max_photos: '{/literal}{$no_photos}{literal}'
    			},
			allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
			debug: false,
			title_field: '{/literal}{if $languages|@count>1 && $ads_settings.translate_title_description==1}title_{$crt_lang}{else}title{/if}{literal}'
	});	
        }
        window.onload = createUploader;
</script>
{/literal}

{include file="footer.html"}