{include file="header.html"}

{if $no_listings>0}

<style type="text/css">
@media all and (min-width: 800px) {
	.smallimg { width: {$ads_settings.thmb_width+2}px; height: {$ads_settings.thmb_height+2}px; }
	.rclass { {if $text_direction=="rtl"}margin-right: {$ads_settings.thmb_width+10}px;{else}margin-left: {$ads_settings.thmb_width+10}px;{/if} min-height: {$ads_settings.thmb_height+2}px;}
}
.rclass { min-height: {$ads_settings.thmb_height+2}px;}
.highlited { background: {$ads_settings.highlited_color}; }
</style>

{/if}

<div class="page_bounds">
<div class="page_title"><h1>{$lng.general.favourites}</h1></div>
</div>

<div class="page_bounds pb30">
	<div class="search_res">
	
	{if $no_listings>0}
	{include file="order_listings.html"}

	{foreach name="listings" from=$listings_array item=v}
		{include file="short_listing.html"}
	{/foreach}

	{else}
	<div class="xsize mt20 mb40">{$lng.listings.no_favourites}</div>
	{/if} {* end if no_listings *}
	
	{if $no_listings>0}
	<div class="center mt20 mb40">
	{include file="paginator.html"}
	</div>
	{/if}
	</div>{* end wbg *}

</div>

{literal}
<script type="text/javascript">

$(document).ready(function() {

$('a.remfav').click(function() {

	var live_site = '{/literal}{$live_site}{literal}';
	var listing_id = $(this).attr("id").substr(3);
	remFavorite(listing_id, live_site);
	
	location.reload(true);

  }
);
});
</script>
{/literal}
{include file="footer.html"}