<div class="wbg overlay_window">

<script type="text/javascript" src="{$live_site}/libs/jQuery/jquery.js"></script>
<script type="text/javascript" src="{$live_site}/libs/jQuery/plugins/jquery.form.js"></script>

<div class="wait"></div>

<div class="page_title mb0"><h1>{$lng.contact.mailto}: {$contact_name}</h1></div>

<form name="mailto" id="mailto" method="post" action="{$live_site}/mailto.php?post=1{if isset($id) && $id}&id={$id}{/if}&amp;aid={$ad_id}">

<div id="mailto_info" class="info ma20" style="display: none;"></div>

<div class="form2 p30">

<div class="iform">
<ul>

<li>
	<label for="name">{$lng.contact.name}<span class="mandatory"> *</span></label>
	<input type="text" id="name" name="name" value="{if isset($crt_usr_sett[$settings.contact_name_field])}{$crt_usr_sett[$settings.contact_name_field]}{/if}" />
</li>

<li>
	<label for="email">{$lng.contact.email}<span class="mandatory"> *</span></label>
	<input type="text" id="email" name="email" value="{if isset($crt_usr_sett.email)}{$crt_usr_sett.email}{/if}" />
</li>

<li>
	<label for="comments">{$lng.contact.comments}<span class="mandatory"> *</span></label>
	<textarea id="comments" name="comments" rows="4"></textarea>
</li>

</ul>

{if $settings.contact_captcha}
{if $settings.enable_recaptcha}
{include file="data/recaptcha.html"}
{else}
{include file="data/random_image.html"}
{/if}
{/if}

<input type="submit" class="button wide_button positive" name="Submit" id="Send" value="{$lng.general.send}" />
</div>

</div> {* end form2 *}

</form>

{literal}
<script type="text/javascript">
//<![CDATA[

jQuery(document).ready(function() {

	$(".info").hide();


var options = { 

	beforeSerialize: function(jqForm, options){ $("body").addClass("loading") },
        beforeSubmit:  function(formData, jqForm, options) {var queryString = $.param(formData);  return true;  }, 
        success:       successResponse 
 
   }; 

function successResponse(responseText, statusText, xhr, $form)  { 

//alert(responseText);
			var ret = JSON.parse(responseText);

			$("body").removeClass("loading");

			if(ret.response==1) {

				$(".info").html("<p>"+ret.info+"</p>");
				$(".info").show();
				$(".iform").slideUp();
				return;

			}

			// response = 0 -> there are errors
			var no_err = ret.error.length;
			var err_field, err_string;

			// clean all fields possible err class
			$(".err").removeClass("err");
			// remove all err_labels
			$(".err_label").remove();

			// mark each field with error 
			for (var idx=0;idx<no_err;idx++) { 

				err_field = ret.error[idx].field;
				err_string = ret.error[idx].error;
				
				if(err_field=="alert_window") { alert(err_string); $('input[type="submit"]').prop('disabled', true); break; }
				
				$("#"+err_field).addClass("err");
				$("#"+err_field).before('<label class="err_label">'+err_string+'</label>');

			}
			
			// move the page to the first err_label element
//			$('html,body').animate({scrollTop:$(".err_label:first").offset().top}, 'slow');

			{/literal}{if $settings.contact_captcha && $settings.enable_recaptcha}
			// reload recaptcha
			gReCaptchaReset();
			{/if}{literal}


} 

 $('#mailto').ajaxForm(options);

});
{/literal}
//]]>
</script>


</div>