{include file="header.html"}

<div class="page_bounds">
<div class="page_title"><h1>{$lng.navbar.password_recovery}</h1></div>
</div>

<div class="page_bounds">

{if isset($error) && $error}<div class="wbg mb40"><div class="error ma20"><p>{if isset($error)}{$error}{/if}</p></div></div>{/if}

{if isset($key) && $key && (!isset($info) || !$info)}
<form name="change_pass" method="post" action="password_recovery.php?key={$key}">

<div class="wbg p30">

<div class="form_container">

	<div class="fel">
	<label for="password">{$lng.password_recovery.new_password}<span class="mandatory"> *</span></label>
	<input type="password" name="password" id="password" />
	</div>

	<div class="fel">
	<label for="password1">{$lng.password_recovery.repeat_new_password}<span class="mandatory"> *</span></label>
	<input type="password" name="password1" id="password1" />
	</div>

	{if $settings.register_captcha}
	{if $settings.enable_recaptcha}
	{include file="data/recaptcha.html"}
	{else}
	{include file="data/random_image.html"}
	{/if}
	{/if}

</div> {* end form_container *}	
</div> {* end wbg *}

<div class="form_footer mb40">
	<input type="submit" class="button wide_button positive" name="Submit_password" value="{$lng.useraccount.change_password}" />
</div>

</form>
{/if}

{if (!isset($info) || !$info) && ( !isset($key) || !$key) }
<form name="pass" method="post" action="password_recovery.php">

<div class="wbg p30">

{if isset($general_info) && $general_info}<div class="mb40"><p>{$general_info}</p></div>{/if}

<div class="form_container">

	<div class="fel">
	<label for="email">{$lng.password_recovery.email}<span class="mandatory"> *</span></label>
	<input name="email" id="email" type="text" size="40" maxlength="255" value="" />
	</div>

</div> {* end form_container *}	
</div> {* end wbg *}

<div class="form_footer mb40">
	<input type="submit" class="button wide_button positive" name="Submit" value="{$lng.general.submit}" />
</div>

</form>
{/if}

{if isset($info) && $info}
<div class="wbg p30"><div class="info">{$info}</div></div>
{/if}

</div>{* end page_bounds *}

{include file="footer.html"}