body {font-family:Verdana,sans-serif; font-size: 12px; color:#444; margin: 5px;}
table { border-collapse: collapse; font-size: inherit;}
td { padding: 4px; border: 1px solid #fff; background: #f0f0f0;  }
td.right { color: #2995b5; }
a { color: #2995b5; }
td.right { color: #2995b5; }
