* { 
	color: #555;
	font:14px/1.5 Helvetica, Arial, sans-serif;
 }

table { width: 100%; border: 0;}

.invtable { width: 100%; background: #f9f9f9; border: 1px solid #d0d0d0; border-collapse: collapse; }
.theading { background: #fff; height: 50px; line-height: 50px; text-align: center;  }
.theading th { font-weight: bold; border: 1px solid #d0d0d0;}
.invtable td { border: 1px solid #d0d0d0; height: 40px; text-align: center;}
.invtable td.raligned { text-align: right; padding-right: 10px;}
.invtable td.laligned { text-align: left; padding-left: 20px;}
.bordered { border: 1px solid #d0d0d0; padding: 6px; }
.mleft { margin-left: 30px; }
.mright { margin-right: 30px; }
hr { border: 1px solid #999; color: #999; background-color: #999; }
.bold { font-weight: bold; }
tr.bold td { font-weight: bold; }
tr.white td { background: #fff; }
