<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>{$page_info.title}</title>
<meta http-equiv="Content-Type" content="text/html; charset={$appearance.charset}">
<meta name="description" content="{$page_info.meta_description}">
<meta name="keywords" content="{$page_info.meta_keywords}">
<meta name="robots" content="index, follow">

<link rel="stylesheet" type="text/css" href="{$template_path}css/style{if $text_direction=="rtl"}-rtl{/if}.css" />

</head>
<body style="text-align: left; background: #fff;">

<div id="form_container" style="width: 600px;">
<div class="title">
<h1>{$lng.listings.remove_favourite}</h1>
</div>

<div class="form_content">

<div class="info"><p>{if isset($info)}{$info}{/if}</p></div>

</div>
</div>

</body>
</html>