{include file="header.html"}
	<div id="page_content">
	<h1>{$lng.general.favourites}</h1>
	<br/>
	{if $no_listings>0}

	{include file="paginator.html"}
	{include file="order_listings.html"}

	{foreach name="listings" from=$listings_array item=v}
		{include file="short_listing.html"}
		{if !$v.featured && !$v.highlited}<hr/>{/if}
	{/foreach}

	{include file="data/fancybox.html"}
	{include file="listings_js.html"}

	{* if listings_compare *}
	{if in_array("listings_compare", $modules_array)}
	{include file="modules/listings_compare/cmp_js.html"}
	{/if}

	<div class="clearfix"></div>
	{include file="paginator.html"}
	{else}
	<br/><br/><br/><br/>
	<div class="info"><p>{$lng.listings.no_favourites}</p></div>
	<br/><br/><br/><br/>
	{/if}
	</div>

{include file="footer.html"}