{include file="header.html"}
     <!-- begin: #left_col - first float column -->
      <div id="left_col">
        <div id="first_left_content" class="clearfix"> 

		{if $content}
		<div>
		<div class="box-top-white"><div class="box-bottom"><div class="box-left"><div class="box-right"><div class="box-bottom-left"><div class="box-bottom-right"><div class="box-top-left"><div class="box-top-right">
		{$content}
		<div class="clearfix"></div>
		</div></div></div></div></div></div></div></div>
		<br/>
		</div>
		
		{/if}

		{* ------ firstpage1 banners ------- *}
		{if in_array("firstpage1", $banners_positions)}
		{banner->getTemplateBanners p1='firstpage1' p2=$section p3=$cat p4=$bloc assign='array_banners'}
		{if $array_banners|@count}<div class="dcenter">{/if}
		{foreach from=$array_banners item=v}
		<div class="vert_banners">{include file="banner.html"}</div>
		{/foreach}
		{if $array_banners|@count}</div>{/if}
		{/if}
		{* ------- end firstpage1 banners ------- *}

		{if $appearance.first_page_type==1}
		{include file="categories.html"}
		{else}
		{include file="tree_categories.html"}
		{/if}

		{* ------ firstpage2 banners ------- *}
		{if in_array("firstpage2", $banners_positions)}
		{banner->getTemplateBanners p1='firstpage2' p2=$section p3=$cat p4=$bloc assign='array_banners'}
		{if $array_banners|@count}<br/><div class="dcenter">{/if}
		{foreach from=$array_banners item=v}
		<div class="vert_banners">{include file="banner.html"}</div>
		{/foreach}
		{if $array_banners|@count}</div>{/if}
		{/if}
		{* ------- end firstpage2 banners ------- *}

          <!-- quick access links -->
	{* -------------- browse by location module -------------- *}
	{if in_array("browse_location",$modules_array)}
	<div class="clearfix"></div>
	<br/>
	{include file="modules/browse_location/browse_location.html"}
	{/if}

	{* -------------- browse by make module -------------- *}
	{if in_array("browse_make",$modules_array)}
	<div class="clearfix"></div>
	<br/>
	{include file="modules/browse_make/browse_make.html"}
	{/if}
          <!-- end quick access links -->
        </div>
      </div>
      <!-- end: #left_col -->
      <!-- begin: #right_col -->
      <div id="right_col">
        <div id="first_right_content" class="clearfix"> 

	{* ------ firstpage3 banners ------- *}
	{if in_array("firstpage3", $banners_positions)}
	{banner->getTemplateBanners p1='firstpage3' p2=$section p3=$cat p4=$bloc assign='array_banners'}
	{foreach from=$array_banners item=v}
	<div class="vert_banners">{include file="banner.html"}</div>
	{/foreach}
	{/if}
	{* ------- end firstpage3 banners ------- *}


	{if $ads_settings.enable_latest}{include file="latest.html"}{/if}

	{* -------------- popular ads module -------------- *}
	{if in_array("popular_ads",$modules_array)}
	<div class="clearfix"></div>
	<br/>
	{include file="modules/popular_ads/popular_ads.html"}
	{/if}

	{* -------------- video ads module -------------- *}
	{if in_array("video_ads",$modules_array)}
	<div class="clearfix"></div>
	<br/>
	{include file="modules/video_ads/video_ads.html"}
	{/if}

	{* -------------- latest auctions module -------------- *}
	{if in_array("latest_auctions",$modules_array) && $ads_settings.enable_auctions}
	<div class="clearfix"></div>
	<br/>
	{include file="modules/latest_auctions/latest_auctions.html"}
	{/if}

	{* -------------- tag cloud module -------------- *}
	{if in_array("tag_cloud",$modules_array)}
	<div class="clearfix"></div>
	<br/>
	{include file="modules/tag_cloud/tag_cloud.html"}
	<div class="clearfix"></div>
	{/if}

	{* -------------- news module -------------- *}
	{if in_array("news",$modules_array) && $news|@count}
	{include file="modules/news/news_summary.html"}
	{/if}
	{* ------------ end news module ------------ *}

	{* -------- social networks ---------- *}
	{if in_array("social_networks", $modules_array)}
	{include file="modules/social_networks/sn_page_plugin.html"}
	{/if}
	{* -------- end social networks ---------- *}

	{* ------ firstpage4 banners ------- *}
	{if in_array("firstpage4", $banners_positions)}
	{banner->getTemplateBanners p1='firstpage4' p2=$section p3=$cat p4=$bloc assign='array_banners'}
	{foreach from=$array_banners item=v}
	<div class="vert_banners">{include file="banner.html"}</div>
	{/foreach}
	{/if}
	{* ------- end firstpage4 banners ------- *}

        </div>
        <div class="ie_clearing">&nbsp;</div>
        <!-- End: IE Column Clearing -->
      </div>
      <!-- end: #right_col -->

    {if in_array("latest_visited", $modules_array) && $no_latest_visited}
    {include file="modules/latest_visited/listings.html"}
    {/if}

{include file="footer.html"}