{include file="header.html"}

<div style="width: 80%; margin: auto;" >
<br/>
<table  width="100%" align="center" cellspacing="0" cellspacing="0">
	<tr>
		<td width="49%">
		<div class="box3-head"><div class="box3-head-left"><div class="box3-head-right">
			{$lng.navbar.login}
		</div></div></div>

		<div class="box3-bottom"><div class="box3-left"><div class="box3-right"><div class="box3-bottom-left"><div class="box3-bottom-right" id="inner1">

	<div id="login">
	{if isset($error) && $error}<div class="error"><p>{$error}</p></div>{/if}
	<form name="login" method="post" action="login.php{if $loc}?loc={$loc}{/if}">
	<label>{$lng.login.username}:</label>
	<input name="username" type="text" style="width: 250px;" maxlength="255" /><br/>

	<label>{$lng.login.password}:</label>
	<input name="password" type="password" style="width: 250px;" maxlength="255"/><br/><br/>
	
	<p>{$lng.login.forgot_pass}&nbsp;<a href="password_recovery.php">{$lng.login.click_here}</a></p>
	<label><input type="checkbox" name="remember" id="remember" />&nbsp;{$lng.remember_me}</label>

	{if $settings.login_captcha}
	{if $settings.enable_recaptcha}
	{include file="data/recaptcha.html"}
	{else}
	{include file="data/random_image.html"}
	{/if}
	{/if}

	<div class="buttons"><strong><input type="submit" name="Login" id="Login" value="{$lng.login.login}" /></strong></div>
	</form>

	{* -------- connect ---------- *}
	{if in_array("connect", $modules_array)}
	{include file="modules/connect/connect.html"}
	{/if}
	{* -------- end connect ---------- *}

	</div>

		</div></div></div></div></div>

		</td>
		<td width="2%"></td>
		<td width="49%">
			<div class="box3-head"><div class="box3-head-left"><div class="box3-head-right">
				{$lng.listings.post_without_login}
			</div></div></div>
			<div class="box3-left"><div class="box3-right" id="inner2">

			<div id="register">{$lng.listings.dont_need_account|stripslashes}</div>

			</div></div>

			<div class="box3-footer"><div class="box3-footer-left"><div class="box3-footer-right">
			<form name="register" method="post" action="new_listing.php">
			<div class="buttons"><strong><input type="submit" name="Newad" id="Newad" value="{$lng.listings.post_your_ad}" /></strong></div>
			</form>
			</div></div></div>

		</td>
	</tr>

</table>
<br/>
<script type="text/javascript">
{literal}
$(document).ready(function() {
	$("#inner2").height($("#inner1").height()-78);
});
{/literal}
</script>

</div>
{include file="footer.html"}