{include file="header.html"}
{if $invalid_user}
<div id="page_content">
<div class="info"><p>{$lng.users.no_such_id}</p></div>
</div>
{else}

	<script type="text/javascript">
	//<![CDATA[
	{literal}
	$(document).ready(function() {
	{/literal}

	{foreach from=$gmaps item=v}
		{if $user[$v.caption] && $v.public}
			{include file="data/gmap-ro.html"}
		{/if}
	{/foreach}
	{literal}
	});
	{/literal}
	//]]>
	</script>

      <!-- begin: #dp_left -->
      <div id="dp_left">
        <div id="left_content" class="clearfix">
	<h1>{if $user.contact_name}{$user.contact_name}{else}{$user.username}{/if} {$lng.users.store}</h1>

	{if in_array("ratings",$modules_array) && $ratings_settings.rate_users}
	{include file="modules/ratings/user_rating.html"}
	{/if}

	{* ------- images fields if any (logo ) -------- *}
	{foreach from=$user_fields_array item=v}
		{if $v.type=="image" && $user[$v.caption]}<img src="{$live_site}/uploads/{$v.caption}/{$user[$v.caption]}" class="logo" alt="" />{/if}
	{/foreach}

	<div id="details">
	{foreach from=$user_fields_array item=v}
	{if $user[$v.caption] && $v.public && $v.type!="google_maps" && $v.type!="checkbox_group" && $v.type!="youtube"&& $v.type!="image" && $v.type!="htmlarea"&& $v.type!="textarea"}
	<div>
		<span>{$v.name}:</span>
		{if $v.type=='url'}<a href="{$user[$v.caption]}" target="_blank" rel="nofollow">{/if}

		{if $v.prefix}{$v.prefix}{/if}

		{if $v.type=="file"}
			<a href="{$live_site}/uploads/{$v.caption}/{$user[$v.caption]}"><img src="{$template_path}/images/download.png" class="tooltip" alt="" name="{$lng.general.download}"/></a>
		{elseif $v.type=="date"}
		{$user.vis[$v.caption]}

		{elseif $v.validation_type=="numeric"}
		{$user.formatted[$v.caption]}

		{elseif $v.type=="textarea"}
		{$user.formatted[$v.caption]}

		{elseif $v.type=="multiselect"}
		{$user[$v.caption]|@implode:', '}

		{elseif $v.type=="checkbox"}
		{if $user[$v.caption]==1}{$lng.general.Yes}{else}{$lng.general.No}{/if}

		{else}
		{$user[$v.caption]}
		{/if}

		{if $v.postfix}{$v.postfix}{/if}

		{if $v.type=='url'}</a>{/if}
	</div>
	{/if}
	{/foreach}
	</div>

	{foreach from=$user_fields_array item=v}
	{if $user[$v.caption] && $v.public && ($v.type=="htmlarea" || $v.type=="textarea")}
	<h2 class="head1">{$v.name}</h1>
	<p>
		{$user[$v.caption]}
	</p>
	{/if}
	{/foreach}

        </div>
      </div>
      <!-- end: #left_col -->
      <!-- begin: #right_col -->
      <div id="dp_right">
        <div id="right_content" class="clearfix"> 

	{* -------- special fields -------- *}
	{foreach from=$user_fields_array item=v}

	{if $user[$v.caption] && $v.public && ( $v.type=="google_maps" || $v.type=="checkbox_group" || $v.type=="youtube" )}

	{if $v.type=="checkbox_group"}
	<h2 class="head1">{$v.name}</h1>

	<table cellpadding="3" cellspacing="3" width="100%" align="center">
	<tr>

	{*  uncomment the following to show only checked options  *}
{*	{foreach from=$user[$v.caption] item=t name=check}
		<td class="options" width="33%"><img src="{$template_path}images/checkbox_on.png" alt="" />&nbsp;&nbsp;{$t}</td>
		{if $smarty.foreach.check.index!=0 && $smarty.foreach.check.index%3==2}</tr><tr>{/if}
	{/foreach}
*}

	{foreach from=$v.elements_array item=t name=check}
		<td class="options" width="33%">{if in_array($t, $user[$v.caption])}<img src="{$template_path}images/checkbox_on.png" alt="" />{else}<img src="{$template_path}images/checkbox_off.png" alt="" />{/if}&nbsp;&nbsp;{$t}</td>
		{if $smarty.foreach.check.index!=0 && $smarty.foreach.check.index%3==2}</tr><tr>{/if}
	{/foreach}

	</tr></table>

	{elseif $v.type=="youtube"}
	<h2 class="head1">{$v.name}</h1>
	<div style="text-align: center; ">{$user[$v.caption]}</div>{* limit video width *}
	{else}	{* -------- google maps -------- *}
	<h2 class="head1">{$v.name}</h1>
	<input type="hidden" name="{$v.caption}" id="{$v.caption}" value="{$user[$v.caption]}" />
	<div id="gm_{$v.caption}" class="bordered_map"></div>
	{/if}
	{/if}

	{/foreach}	

	</div>
      </div>

	<div class="clearfix"></div>

	<div id="page_content">

	{if $ratings_settings.rate_users && $ratings_settings.enable_reviews && (in_array($user.group, $ratings_settings.groups_array) || !$ratings_settings.groups)}

	<div id="user_left">

	{/if}

	{include file="paginator.html"}
	{include file="order_listings.html"}
	{foreach name="listings" from=$listings_array item=v}
		{include file="short_listing.html"}
		{if !$v.featured && !$v.highlited}<hr/>{/if}
	{/foreach}

	{include file="data/fancybox.html"}
	{include file="listings_js.html"}

	{* if listings_compare *}
	{if in_array("listings_compare", $modules_array)}
	{include file="modules/listings_compare/cmp_js.html"}
	{/if}

	<div class="clearfix"></div>
	{include file="paginator.html"}

	{if $ratings_settings.rate_users && $ratings_settings.enable_reviews && (in_array($user.group, $ratings_settings.groups_array) || !$ratings_settings.groups)}

	{include file="modules/ratings/reviews.html"}

	{/if}

	</div>
{/if}
{include file="footer.html"}